@charset "utf-8";
/*reset*/
html,body,div,span,
h1,h2,h3,h4,p,blockquote,a,
small,strike,strong,b,em,i,sub,sup,img,ins,
ul,ol,li,dl,dt,dd,
fieldset,form,label,
table,caption,tbody,tfoot,thead,tr,th,td {
	border: none;
	padding:0;
	margin:0;
	outline:0;
	vertical-align:baseline
}
li {list-style:none}
textarea {resize: none;}
/*/reset*/

/*fonts*/
@font-face {font-family: 'PT Sans'; 
	src: url('../fonts/PTS55F_W.eot'); 
	src:
		local('PT Sans'),
		url('../fonts/PTS55F_W.woff') format('woff'),
		url('../fonts/PTS55F_W.ttf') format('truetype'),
		url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');}

@font-face {font-family: 'PT Sans'; 
	font-style: italic;
	src: url('../fonts/PTS56F_W.eot'); 
	src: local('PT Sans Italic'),
		url('../fonts/PTS56F_W.woff') format('woff'),
		url('../fonts/PTS56F_W.ttf') format('truetype'),
		url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');}

@font-face {font-family: 'PT Sans';
	src: url('../fonts/PTS75F_W.eot');
	font-style: normal;
	font-weight: bold; 
	src: local('PT Sans Bold'),
		url('../fonts/PTS75F_W.woff') format('woff'),
		url('../fonts/PTS75F_W.ttf') format('truetype'),
		url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');}
/*/fonts*/


/*-----------------MAIN-STYLES-----------------*/
body {
	background: #fff;
	color: #000;
	font: 14px/18px 'PT Sans', Arial, Helvetica, sans-serif;
	position: relative;
}

.wrapper {
	margin: 0 auto;
	min-width: 996px;
	overflow: hidden;
}

.page {
	padding: 0 18px 0 18px;
	width: 960px;
	margin: 0 auto;
}



a {color: #000}
a:hover {color: #80111a}
.dot {text-decoration: none; border-bottom: 1px dotted #0b739f;}
.dot:hover {border-bottom-color: #0096d5;}
.dash {text-decoration: none; border-bottom: 1px dashed #0b739f;}
.dash:hover {border-bottom-color: #0096d5;}


h1 {
	font: bold 30px/36px 'PT Sans', Arial, Helvetica, sans-serif;
	margin: 0 0 18px 0;
}
h2 {
	font: bold 18px/24px 'PT Sans', Arial, Helvetica, sans-serif;
	margin: 0 0 12px 0;
}
h3 {
	font: bold 14px/18px 'PT Sans', Arial, Helvetica, sans-serif;
	margin: 0 0 12px 0;
}


input, textarea {
	font: 14px/18px 'PT Sans', Arial, Helvetica, sans-serif;
	display: inline-block;
	vertical-align: top;
	margin: 0;
}
.inpt, .txtr {
	padding: 3px 8px;
}
/*-----------------MAIN-STYLES-END-----------------*/




/*-----------------HEADER-----------------*/
/*layout*/
.header {
	position: relative;
	height: 270px;
	margin: 0 0 24px 0;
	z-index: 5;
}
#logo_box {
	display: block;
	height: 60px;
	width: 211px;
	position: absolute;
	top: 3px;
	left: -28px;
	z-index: 10;
}
/*layout*/




/*purse*/
.purse {
	background: url('../img/purse.png') no-repeat;
	position: absolute;
	top: 0;
	left: 130px;
	width: 244px;
	height: 131px;
	padding: 0 80px 0 72px;
}
.header_search {
	margin: 9px 0 8px 0;
	position: relative;
}
.header_search_inpt {
	background: url('../img/header_search.png') no-repeat;
	padding: 0;
	outline: none;
	border: none;
	width: 177px;
	height: 25px;
	padding: 0 36px 2px 12px;
}
.header_search_inpt::-webkit-input-placeholder {
	font: italic 14px/18px 'PT Sans', Arial, Helvetica, sans-serif;
	color: #fff;
}
.header_search_inpt:-moz-placeholder {
	font: italic 14px/18px 'PT Sans', Arial, Helvetica, sans-serif;
	color: #fff;
}
.header_search_inpt:placeholder {
	font: italic 14px/18px 'PT Sans', Arial, Helvetica, sans-serif;
	color: #fff;
}

.header_search_submit {
	width: 30px;
	height: 26px;
	padding: 0;
	background: no-repeat;
	border: none;
	position: absolute;
	top: 0;
	right: 24px;
}
.purse a {
	color: #fff;
}
.purse_menu {
	font-size: 16px;
}
.purse_menu li {
	display: inline-block;
	vertical-align: top;
	margin: 0 18px 8px 0;
}
/*/purse*/




/*contacts*/
.contacts {
	font-weight: bold;
	position: absolute;
	top: 24px;
	left: 500px;
	z-index: 10;
}
.tel {
	font-size: 30px;
	margin-bottom: 9px;
}
.tel span{
	font-size: 14px;
	position: relative;
	top: -11px;
	margin-left: -24px;
}
.contacts li {
	margin-bottom: 9px;
}
.contacts li a {
	text-decoration: none;
}
.contacts li span {
	text-decoration: underline;
}
.contacts li img {
	margin: 0 4px 0 0;
	position: relative;
	top: 3px;
}
/*/contacts*/




/*cartbox*/
.cartbox {
	font-weight: bold;
	background: url('../img/cosmeticbag.png') no-repeat;
	position: absolute;
	top: 0;
	left: 625px;
	width: 360px;
	height: 123px;
	padding: 18px 0 0 96px;
}
.cartbox_name {
	color: #480101;
	font-size: 16px;
	text-transform: uppercase;
}
.cartbox_cab {
	background-color: #f6f2db;
	background-color: rgba(255, 255, 255, .55);
	padding: 2px 10px 5px 10px;
	border-radius: 6px;
	position: absolute;
	top: 18px;
	left: 210px;
}
.cartbox_exit {
	background: url('../img/exit.png') no-repeat;
	display: inline-block;
	vertical-align: top;
	width: 13px;
	height: 17px;
	position: relative;
	top: 3px;
}
.cartbox_sum {
	background: url('../img/cartbox_bag.png') no-repeat;
	position: absolute;
	top: 56px;
	left: 87px;
	padding: 0 0 0 48px;
}
.cartbox_qty {
	color: #480101;
}
.cartbox_total {
	color: #480101;
}
.cartbox_total span {
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -1px;
	position: relative;
	top: 5px;
	margin: 0 2px 0 2px;
}
.cartbox_total i {
	position: relative;
	top: 5px;
}
.cartbox_cart_lnk {
	background: url('../img/cartbox_btn.png') no-repeat;
	text-decoration: none;
	font-size: 16px;
	text-shadow: 0 1px 0 #fbebc5;
	display: block;
	position: absolute;
	top: 54px;
	left: 240px;
	width: 93px;
	height: 31px;
	padding: 12px 0 0 23px;
}
.cartbox_cart_lnk:hover {
	background-position: 0 -53px;
}
.cartbox_cart_lnk:active {
	background-position: 0 -105px;
}
/*/cartbox*/




/*menu*/
.menu {
	font-size: 16px;
	font-weight: bold;
	line-height: 19px;
	background: url('../img/menu_bg.png') no-repeat;
	width: 1020px;
	height: 107px;
	padding: 30px 0 0 0;
	position: absolute;
	top: 157px;
	left: -28px;
}
.menu li {
	display: inline-block;
	vertical-align: top;
	margin: 0 -8px 0 20px;
	padding: 4px 8px 10px 8px;
	position: relative;
}

.menu li a {
	color: #fff;
}
.menu_arr {
	display: none;
	background: url('../img/submenu_tail.png') no-repeat;
	width: 16px;
	height: 11px;
	top: 54px;
	left: 42px;
	z-index: 10;
	position: absolute;
}
.menu .curr .menu_arr {
	display: block;
}
.menu .current {
	background: url('../img/menu_current.png');
	border-radius: 9px;
}
/*/menu*/

/*submenu*/
.submenu {
	display: none;
	width: 831px;
	position: absolute;
	left: 14px;
	top: 252px;
}
.submenu_content {
	position: relative;
	z-index: 9;
	background: #f6f6f6 url('../img/submenu_bg.png') repeat-x 0 0;
	border-radius: 20px;
	padding: 36px 0px 1px 64px;
}
.submenu_shade_b, .submenu_shade_lr, .submenu_shade_lr img {
	position: absolute;
}
.submenu_shade_lr {
	width: 1074px;
	top: 0;
	bottom: 0;
	left: -128px;
}
.submenu_shade_lr img {
	top: 0;
	left: 0;
	width: 1074px;
	height: 100%;
}
.submenu_shade_b {
	background: url('../img/brands_shade_b.png') no-repeat center 0;
	height: 73px;
	bottom: -73px;
	width: 831px;
}

.submenu_content h2 {
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 18px;
}
.submenu_content h3 {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 18px;
}
.submenu_content li {
	font-size: 15px;
	margin-bottom: 18px;
}
.submenu_4col {
	width: 160px;
	margin: 0 20px 36px 0;
}
.submenu_3col {
	width: 210px;
	margin: 0 40px 36px 0;
}
/*/submenu*/



/*advices*/
.advices {
	position: absolute;
	top: 128px;
	right: -18px;
}
.advices_btn {
	background: url('../img/brilliant.png') no-repeat;
	display: block;
	text-decoration: none;
	font-weight: bold;
	width: 73px;
	height: 42px;
	padding: 14px 0 0 26px;
}
.advices_btn span {
	cursor: pointer;
	border-bottom: 1px dotted #000;
}
/*/advices*/


/*advices_pl*/
.advices_pl {
	position: absolute;
	top: -20px;
	left: -294px;
	width: 270px;
}
.advices_content {
	background: #f6f6f6 url('../img/brands_list_bg.png') repeat-x 0 0;
	border: 1px solid #efeae5;
	border-radius: 20px;
	padding: 18px 0px 1px 0;
	position: relative;
	z-index: 9;
}
.advice {
	padding: 0 30px 20px 40px;
}
.advice_1, .advice_2 {
	background: url('../img/advices_shade.png') no-repeat center 100%;
}
.advice_lnk a {
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}
.advice_curr .advice_lnk {
	margin-bottom: 6px;
}
.advice_curr .advice_lnk a {
	font-size: 21px;
	line-height: 24px;
}
.advice_h {
	font-weight: bold;
}
.advice_h a {
	color: #f01f25;
}
.advice_des {
	margin: 6px 0 9px 0;
}


.advices_t, .advices_b, .advices_lr, .advices_lr img, .advices_tail {
	position: absolute;
}
.advices_lr {
	width: 329px;
	top: 0;
	bottom: 0;
	left: -30px;
}
.advices_lr img {
	top: 0;
	left: 0;
	width: 329px;
	height: 100%;
}
.advices_t, .advices_b {
	width: 270px;
	left: 0px;
}
.advices_t {
	background: url('../img/advices_t.png') no-repeat center 0;
	height: 31px;
	top: -31px;
}
.advices_b {
	background: url('../img/advices_b.png') no-repeat center 0;
	height: 36px;
	bottom: -36px;
}
.advices_tail {
	background: url('../img/brands_tail.png') no-repeat;
	width: 11px;
	height: 14px;
	top: 40px;
	right: -10px;
	z-index: 10;
}
/*/advices_pl*/




/*brands*/
.brands {
	position: absolute;
	top: 188px;
	right: 28px;
}
.brands_btn {
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	text-align: center;
	background: url('../img/brands_btn.png') no-repeat;
	width: 85px;
	height: 35px;
	padding: 7px 0 0 0;
}
.brands_btn:hover {
	background-position: 0 -52px;
}
.brands_btn:active, .brands_btn_curr, .brands_btn_curr:hover {
	background-position: 0 -105px;
}
.brands_btn span {
	border-bottom: 1px dashed #fff;
}
/*/brands*/

/*brands_list*/
.brands_list {
	display: none;
	position: absolute;
	right: 110px;
	top: -26px;
	width: 517px;
}
.brands_content {
	background: #f6f6f6 url('../img/brands_list_bg.png') repeat-x 0 0;
	border: 1px solid #efeae5;
	border-radius: 20px;
	padding: 36px 0px 1px 12px;
	position: relative;
	z-index: 9;
}
.brands_shade_t, .brands_shade_b, .brands_shade_lr, .brands_shade_lr img, .brands_tail {
	position: absolute;
}
.brands_shade_lr {
	width: 620px;
	top: 0;
	bottom: 0;
	left: -58px;
}
.brands_shade_lr img {
	top: 0;
	left: 0;
	width: 630px;
	height: 100%;
}
.brands_shade_t, .brands_shade_b {
	width: 517px;
	left: 0px;
}
.brands_shade_t {
	background: url('../img/brands_shade_t.png') no-repeat center 0;
	height: 42px;
	top: -42px;
}
.brands_shade_b {
	background: url('../img/brands_shade_b.png') no-repeat center 0;
	height: 47px;
	bottom: -47px;
}
.brands_tail {
	background: url('../img/brands_tail.png') no-repeat;
	width: 11px;
	height: 14px;
	top: 40px;
	right: -10px;
	z-index: 10;
}

.brands_content li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 142px;
	margin: 0 10px 36px 10px;
}
.brands_content li a {
	text-decoration: none;
}
.brands_content li span {
	text-decoration: underline;
}
.brands_content li img {
	display: block;
	margin-bottom: 16px;
}
/*/brands_list*/
/*--------------HEADER-END--------------*/




/*----------------PAGE------------------*/
/*layout*/
.main {
	position: relative;
	z-index: 4;
}

.col {
	display: inline-block;
	vertical-align: top;
}
/*/layout*/







/*carousel*/
.carousel_out {
	margin: -64px 0 42px -15px;
	
}
.carousel {
	background: #fff;
	width: 992px;
	border-radius: 20px;
	position: relative;
	z-index: 4;
}
.carousel_in {
	border-radius: 20px;
	border: 3px dashed #c7b299;
	padding: 0 52px 18px 52px;
}
.jcarousel-clip, #carousel li {
	width: 882px;
	overflow: hidden;
}
.jcarousel-clip {
	height: 470px;
}
#carousel li {
	height: 350px;
	padding: 120px 0 0 0;
}
.carousel .actions {
	margin: -50px 0 0 0;
}
.carousel .action {
	margin: 0 10px 0 10px;
}


.jcarousel-prev, .jcarousel-next {
	cursor: pointer;
	background: url('../img/carousel_arrs.png') no-repeat;
	width: 78px;
	height: 78px;
	position: absolute;
	top: 220px;
	z-index: 5;
}
.jcarousel-prev {
	left: -40px;
}
.jcarousel-next {
	background-position: 0 -88px;
	right: -40px;
}
.jcarousel-prev:active, .jcarousel-next:active {
	top: 222px;
}


.carousel_ctrls {
	text-align: center;
}
.carousel_ctrls li {
	cursor: pointer;
	background: url('../img/carousel_point.png') no-repeat;
	display: inline-block;
	vertical-align: top;
	width: 13px;
	height: 13px;
	margin: 0 2px 0 2px;
}
.carousel_ctrls .curr {
	background-position: -23px 0;
}


.carousel_filter {
	background: url('../img/carousel_shade.png') no-repeat;
	text-align: center;
	width: 1143px;
	padding: 36px 0 0 0;
	margin: -36px 0 0 -102px;
	position: relative;
	z-index: 3;
}
.carousel_filter li {
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	padding: 0 13px 0 13px;
	height: 51px;
	position: relative;
}
.carousel_filter a {
	text-decoration: none;
}
.carousel_filter li span {
	border-bottom: 1px dashed #333;
}
.carousel_filter li img {
	position: relative;
	top: 12px;
}
.carousel_menu_shade {
	display: none;
}
.carousel_filter .curr {
	background: url('../img/carousel_menu_curr_bg.png') repeat-x;
	font-weight: bold;
}
.carousel_filter .curr span {
	border: none;
}
.carousel_filter .curr .carousel_menu_shade {
	display: block;
	width: 100%;
	height: 11px;
	position: absolute;
	top: 51px;
	left: 0;
}


.carousel_item, .carousel_item_img, .carousel_item_des {
	display: inline-block;
	vertical-align: top;
}
.carousel_item {
	text-align: left;
	width: 260px;
	margin: 0 16px 72px 0;
}
.carousel_item_img {
	width: 100px;
	height: 102px;
}
.carousel_item_des {
	width: 156px;
}
/*carousel*/





/*index_news*/
.index_news {
	margin: 0 0 0 0;
	position: relative;
	height: 306px;
}
.index_news h2 {
	text-align: center;
	color: #d3c5b4;
	font-size: 36px;
	line-height: 42px;
	font-weight: bold;
}
.index_new {
	border: 2px dotted #f00;
	border-radius: 10px;
	padding: 12px 18px 12px 18px;
	width: 238px;
	position: absolute;
}
.index_new_1, .index_new_3 {
	bottom: 185px;
}
.index_new_1 {
	left: 30px;
}
.index_new_3 {
	left: 610px;
}
.index_new_2 {
	top: 168px;
	left: 312px;
}
.index_new_h {
	margin: 0;
}
.index_news_all {
	text-align: right;
	position: absolute;
	top: 144px;
	left: 120px;
	width: 840px;
	border-top: 1px solid #ddd2c4;
}
.index_news_all span {
	display: inline-block;
	vertical-align: top;
	background: #eae3db;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 6px 14px 6px 14px;
}
.index_new_date {
	color: #bfaa91;
	font-style: italic;
	position: absolute;
}
.index_new_1 .index_new_date, .index_new_3 .index_new_date {
	bottom: -54px;
	left: 70px;
}
.index_new_2 .index_new_date {
	top: -52px;
	left: 70px;
}
.index_new_arr {
	background: url('../img/index_news_arrs.png') no-repeat;
	width: 56px;
	height: 24px;
	position: absolute;
}
.index_new_1 .index_new_arr, .index_new_3 .index_new_arr {
	bottom: -24px;
	left: 60px;
}
.index_new_2 .index_new_arr {
	background-position: 0 -34px;
	top: -24px;
	left: 60px;
}
/*/index_news*/



/*news*/
.news h1 {
	color: #d30509;
	text-align: center;
	font-size: 106px;
	line-height: 120px;
	margin: 0 0 0 0;
}
.news_in {
	background: url('../img/news_line.png') repeat-y center ;
	width: 610px;
	margin: 90px auto 0 auto;
}
.new {
	border: 2px dotted #f00;
	border-radius: 10px;
	padding: 12px 18px 9px 18px;
	min-height: 66px;
	width: 238px;
	position: relative;
	margin: -46px 0 72px 0;
}
.new_l {
	float: left;
}
.new_date {
	color: #bfaa91;
	font-style: italic;
	position: absolute;
	top: 37px;
}
.new_l .new_date {
	right: -90px;
}
.new_r .new_date {
	left: -90px;
}
.new_r {
	float: right;
}
.new_arr {
	background: url('../img/news_arrs.png') no-repeat;
	position: absolute;
	width: 24px;
	height: 56px;
	top: 24px;
}
.new_l .new_arr {
	right: -24px;
}
.new_r .new_arr {
	background-position: -34px 0;
	left: -24px;
}
.news_more {
	text-align: center;
	position: relative;
	top: 10px;
	left: -4px;
}
/*/news*/



/*index_cases*/
.index_cases {
	text-align: center;
	margin: 0 0 54px 0;
}
.index_cases h2 {
	color: #e10409;
	background: url('../img/cases_pl.png') no-repeat;
	font-size: 42px;
	line-height: 48px;
	width: 1034px;
	height: 125px;
	padding: 20px 0 0 0;
	margin: 0 0 0 -47px;
}
.index_cases li {
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	width: 188px;
}
.index_cases a {
	display: block;
	text-decoration: none;
}
.index_cases img {
	display: block;
}
.index_cases span {
	text-decoration: underline;
}

.right_banner {
	font-weight: bold;
	text-align: center;
	margin: 0 0 36px 0;
	width: 164px;
}
.right_banner a {
	text-decoration: none;
	color: #ea030a;
}
.right_banner img {
	margin-bottom: 6px;
}
.right_banner a span {
	text-decoration: underline;
}
/*/index_cases*/


/*inner_cases*/
.inner_cases {
	margin: 0 0 108px 0;
	position: relative;
	z-index: 2;
}
.inner_cases h1 {
	font-size: 76px;
	line-height: 84px;
	color: #d50611;
	margin-bottom: 36px;
}
.inner_cases li {
	padding: 0 0 20px 0;
	position: relative;
}
.inner_cases .curr {
	background: #fff;
	border: 1px dashed #333;
	border-bottom: none;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
.inner_cases .curr span {
	text-decoration: none;
}

.cases_submenu {
	display: none;
	vertical-align: top;
	background: #fff;
	border: 1px dashed #333;
	border-radius: 12px;
	font-size: 18px;
	line-height: 21px;
	padding: 18px;
	min-width: 154px;
	position: absolute;
	top: 199px;
	white-space: nowrap;
}
.cases_submenu_1 {
	border-top-left-radius: 0;
	left: -1px;
}
.cases_submenu_2 {
	border-top-left-radius: 0;
	left: -1px;
}
.cases_submenu_3 {
	border-top-left-radius: 0;
	left: -1px;
}
.cases_submenu_4 {
	border-top-right-radius: 0;
	right: -1px;
}
.cases_submenu_5 {
	border-top-right-radius: 0;
	right: -1px;
}
.inner_cases .curr .cases_submenu {
	display: inline-block;
}
li .cases_submenu li {
	font-weight: normal;
	display: inline-block;
	vertical-align: top;
	margin: 0 8px 0 8px;
	padding: 0;
	width: auto;
}
li .cases_submenu a {
	text-decoration: underline;
}
.cases_submenu .curr {
	border: none;
	font-weight: bold;
}
.cases_submenu .curr a {
	text-decoration: none;
}
.cases_submenu_t {
	background: #fff;
	height: 3px;
	width: 188px;
	position: absolute;
	top: -2px;
	left: 0;
}
.cases_submenu_4 .cases_submenu_t {
	left: auto;
	right: 0;
}
.cases_submenu_5 .cases_submenu_t {
	left: auto;
	right: 0;
}
/*/inner_cases*/




/*all*/
.all {
	background: url('../img/all_bg.png') no-repeat center 0;
	width: 1104px;
	min-height: 449px;
	padding: 82px 0 0 0;
	margin: 90px 0 0 -72px;
}
.all_content {
	background: url('../img/all_fg.png') no-repeat 0 100%;
	margin: 32px auto 0 auto;
	width: 700px;
	min-height: 423px;
	padding: 0 20px 0 53px;
	position: relative;
}
.all_t {
	background: url('../img/all_t.png') no-repeat;
	position: absolute;
	width: 773px;
	height: 32px;
	left: 0;
	top: -32px;
}
.all_content h2 {
	background: url('../img/all_h.png') no-repeat center 0;
	text-align: center;
	font-size: 48px;
	line-height: px;
	color: #fcece4;
	margin: 0 0 30px 0;
	height: 62px;
	padding: 30px 0 0 0;
}
.all_col {
	width: 160px;
	margin: 0 10px 0 0;
}
.all a {
	color: #916735;
}
.all h3 {
	font-size: 18px;
	line-height: 21px;
	margin: 0 0 16px 0;
}
.all ul {
	margin-bottom: 24px;
}
.all li {
	font-size: 16px;
	margin: 0 0 12px 0;
}
/*/all*/






/*catalog*/
.catalog_l {
	width: 160px;
	margin: 0 36px 0 0;
}
.catalog_r {
	width: 760px;
}

.catalog_menu {
	font-size: 15px;
	margin: 0 0 144px 0;
}
.catalog_menu li {
	margin: 0 0 18px 0;
}
.catalog_menu_l1 {
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
}
.catalog_menu_l2 {
	font-weight: bold;
	font-size: 16px;
}
.catalog_menu .catalog_menu_l4 {
	font-size: 14px;
	margin-left: 12px;
	margin-top: -9px;
}
.catalog_menu .curr {
	font-weight: bold;
}
.catalog_menu .curr a {
	text-decoration: none;
	text-shadow: 0 0 10px #fd5556;
}
/*/catalog*/





/*filters*/
.filters {
	margin: 0 0 24px 0;
	position: relative;
	z-index: 7;
}
.select, .filter_price {
	display: inline-block;
	vertical-align: top;
}
.select {
	margin: 0 12px 0 0;
	position: relative;
}
.select_curr {
	z-index: 7;
}
.select_curr .select_label {
	visibility: hidden;
}
.select_curr .select_drop {
	display: block;
}
.select_label {
	cursor: pointer;
	background: #eae5ca url('../img/select_arr.png') no-repeat 100% 12px;
	font-size: 18px;
	line-height: 24px;
	border-radius: 4px;
	padding: 5px 28px 1px 12px;
}

.select_drop {
	display: none;
	font-weight: bold;
	background: #fff;
	border: 1px solid #f4f0eb;
	border-radius: 3px;
	padding: 8px 14px 1px 14px;
	top: -3px;
	left: 0;
	width: auto;
}
.select_drop_h {
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 12px;
	cursor: pointer;
}
.select_drop li {
	margin-bottom: 12px;
}
.select_drop li a {
	color: #480101;
	white-space: nowrap;
}
.select_drop, .select_drop_t, .select_drop_r, .select_drop_b, .select_drop_l, .select_drop img {
	position: absolute;
}
.select_drop_t {
	top: -25px;
	left: 0;
	width: 100%;
	height: 25px;
}
.select_drop_t img {
	width: 100%;
	height: 25px;
	left: 0;
	top: 0;
}
.select_drop_r {
	top: 0px;
	right: -19px;
	width: 19px;
	height: 100%;
}
.select_drop_r img {
	height: 100%;
	width: 19px;
	left: 0;
	top: 0;
}
.select_drop_b {
	bottom: -28px;
	left: 0;
	width: 100%;
	height: 28px;
}
.select_drop_b img {
	width: 100%;
	height: 28px;
	left: 0;
	top: 0;
}
.select_drop_l {
	top: 0px;
	left: -22px;
	width: 22px;
	height: 100%;
}
.select_drop_l img {
	height: 100%;
	width: 22px;
	left: 0;
	top: 0;
}

.filter_price {
	background: #fcfbf9;
	font-size: 18px;
	line-height: 24px;
	padding: 11px 12px 4px 12px;
	margin: -10px 0 0 0;
	float: right;
	position: relative;
}

.filter_price_inpt {
	font-size: 21px;
	line-height: 24px;
	text-align: center;
	background: url('../img/inputs.png') no-repeat;
	border: none;
	outline: none;
	height: 34px;
	width: 88px;
	padding: 0 6px 0 6px;
	margin: -5px 0 0 0;
}
#filter_price {
	position: absolute;
	top: 44px;
	left: 0;
	width: 226px;
}
.ui-slider-range {
	height: 4px;
	background: #bfaa91;
}
.ui-slider-handle {
	background: url('../img/slider_handle.png') no-repeat;
	position: absolute;
	top: -4px;
	width: 17px;
	height: 25px;
	margin: 0 0 0 -10px;
}
/*/filters*/




/*items*/
.items {
	margin: 0 0 54px -36px;
}
.items h2 {
	font-size: 36px;
	line-height: 42px;
	margin: 18px 0 36px 36px;
}
.item {
	display: inline-block;
	vertical-align: top;
	width: 160px;
	margin: 0 0 36px 36px;
}
.item_img {
	position: relative;
	margin-bottom: 14px;
}
.item_img a {
	text-decoration: none;
}
.item_specs {
	position: absolute;
	bottom: -10px;
	left: 0;
}
.item_spec_gift, .item_spec_plus, .item_spec_percent {
}
.item_spec_gift {
	width: 82px;
	height: 63px;
	background: url('../img/item_spec_gift.png') no-repeat;
}
.item_spec_plus, .item_spec_percent {
	font-size: 25px;
	font-weight: bold;
	line-height: 28px;
	text-shadow: 0 1px 0 #fff;
	color: #e8040a;
	background: url('../img/item_spec.png') no-repeat;
	width: 70px;
	height: 46px;
	padding: 17px 0 0 12px;
}
.item_spec_plus span, .item_spec_percent span {
	font-size: 14px;
	position: relative;
	top: -4px;
}

.item_labels {
	position: absolute;
	top: 0;
	right: 0;
}
.item_labels div {
	background: url('../img/item_labels.png') no-repeat;
	width: 31px;
	height: 32px;
}
div.item_label_daily {background-position: 0 -108px;}
div.item_label_top {}
div.item_label_new {background-position: 0 -72px;}
div.item_label_unique {background-position: 0 -31px;}
div.item_label_action {background-position: 0 -145px;}

.item_gift_blob {
	font-weight: bold;
	background: url('../img/item_gift_blob.png') no-repeat;
	width: 239px;
	height: 139px;
	padding: 50px 40px 0 50px;
	position: absolute;
	bottom: 40px;
	left: -30px;
	z-index: 8;
}
.item_gift_blob img {
	float: left;
	margin-right: 8px;
}
.item_gift_cat {
	margin-top: 12px;
}
.item_gift_name {
	text-indent: -6px;
}
.item_gift_name a {
	color: #480101;
	text-decoration: underline;
}

.item_name {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 0;
}
.item_w {
	color: #bfaa91;
}
.item_price {
	font-size: 21px;
	font-weight: bold;
	line-height: 24px;
}
.item_price i {
	font-size: 14px;
	position: relative;
	top: -6px;
}
.item_old_price {
	font-weight: bold;
	text-decoration: line-through;
	margin: -4px 0 0 1px;
}

.items_all {
	background: url('../img/items_all.png') no-repeat;
	font-size: 21px;
	font-weight: bold;
	line-height: 30px;
	display: inline-block;
	vertical-align: top;
	width: 96px;
	height: 122px;
	padding: 28px 70px 0 24px;
	margin: 6px -36px 0 36px;
}

.brand_page_img {
	width: 140px;
	margin-right: 30px;
}
.brand_page_des {
	width: 560px;
	font-weight: bold;
	margin-bottom: 42px;
}
.brand_page_des h1 {
	color: #ea030a;
	font-size: 96px;
	line-height: 110px;
	margin: -10px 0 24px -4px;
}
/*/items*/





/*product*/
.product {
	margin: 0 0 60px 0;
}
.product_h {
	margin: 0 0 18px 0;
}
.product_h h1 {
	display: inline;
	color: #ea030a;
	font-size: 60px;
	line-height: 60px;
	margin: 0 12px 0 0;
}
.product_h div {
	display: inline-block;
	vertical-align: top;
}
.product_label_daily,
.product_label_new,
.product_label_unique,
.product_label_top,
.product_label_action {
	background: url('../img/product_labels.png') no-repeat;
	width: 47px;
	height: 44px;
	margin: 8px 6px 0 0;
}
.product_label_daily {background-position: 0 -211px;}
.product_label_new {background-position: 0 -105px;}
.product_label_unique {background-position: 0 -52px;}
.product_label_top {background-position: 0 -158px;}


.product_w {
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 24px;
}

.product_l {
	width: 490px;
}
.product_r {
	width: 260px;
}

.product_gal {
	position: relative;
}
.product_gal_menu {
	line-height: 0;
	position: absolute;
	top: 16px;
	left: 0;
}
.product_gal_menu li {
	background: #fff;
	padding: 4px;
	margin: 0 0 12px 0;
}
.product_gal_menu .curr {
	border: 2px solid #ea030a;
}

.product_info {
	border: 3px solid #ea030a;
	border-bottom: none;
	width: 189px;
	padding: 26px 20px 12px 30px;
	margin: 12px 0 0 0;
	position: relative;
}
.product_info_b {
	background: url('../img/product_info_b.png') no-repeat;
	position: absolute;
	bottom: -34px;
	left: -3px;
	width: 245px;
	height: 34px;
}
.product_params {
	font-size: 15px;
}
.product_params dt {
	font-weight: bold;
}
.product_params dd {
	margin-bottom: 16px;
}

.product_price_old {
	color: #bfaa91;
	font-size: 18px;
	line-height: 21px;
	font-weight: bold;
	text-decoration: line-through;
	position: relative;
	top: 30px;
}
.product_price_val {
	font-size: 58px;
	line-height: 60px;
	font-weight: bold;
}
.product_price_val i {
	font-size: 18px;
	position: relative;
	top: -30px;
}
.product_payment, .product_delivery {
	font-weight: bold;
}
.product_payment {
	margin-bottom: 18px;
}
.product_payment p {
	margin-bottom: 9px;
}

.product_des {
	font-size: 16px;
	line-height: 24px;
	width: 700px;
}
.product_des h2 {
	font-weight: normal;
	font-size: 21px;
	line-height: 24px;
}

.product_likes, .pagemenu ul {
	display: inline-block;
	vertical-align: top;
}
.product_likes {
	margin-left: 20px;
}
/*/product*/





/*recommend*/
.recommend {
	border: 4px solid #bfaa91;
	border-radius: 20px;
	padding: 30px 30px 10px 80px;
	margin: 0 0 60px 0;
}
.recommend h2 {
	font-size: 36px;
	line-height: 42px;
	background: url('../img/recommend_ribbon.png') no-repeat;
	min-height: 75px;
	padding: 20px 0 0 90px;
	margin: -34px 0 0 0;
}
.recommend .items {
	margin-bottom: 0;
}
/*/recommend*/





/*vk*/
.vk_l {
	width: 250px;
	margin-right: 10px;
}
.vk_r {
	width: 696px;
}
/*/vk*/





/*recent*/
.recent {
	border-top: 2px dashed #bfaa91;
	border-bottom: 2px dashed #bfaa91;
	margin: 0 0 54px 0;
}
.recent h2 {
	font-size: 21px;
	line-height: 24px;
	text-align: center;
	margin: -16px 0 24px 0;
}
.recent h2 span{
	background: #fff;
	padding: 0 30px 0 30px;
}
.recent .carousel_item {
	width: 300px;
	margin-bottom: 18px;
}
/*/recent*/





/*cart*/
.cart h1 {
	color: #ea030a;
	text-align: center;
	font-size: 60px;
	line-height: 62px;
	margin-bottom: 24px;
}
.cart_in {
	border: 3px dashed #c7b299;
	border-radius: 20px;
	width: 804px;
	padding: 40px 0 40px 0;
	margin: 0 auto 54px auto;
}


.cart_item {
	background: url('../img/cart_item_shade.png') no-repeat center 100%;
	margin: 0 auto 18px auto;
	padding: 0 0 62px 0;
	width: 684px;
	position: relative;
}
.cart_item_deleted {
	text-align: center;
	background: url('../img/cart_item_deleted_bg.png');
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.cart_item_deleted .btn2 {
	position: relative;
	top: 54px;
}

.cart_item_img, .cart_item_des, .cart_qty, .cart_price, .cart_gift_label {
	display: inline-block;
	vertical-align: top;
}
.cart_item_img {
	width: 96px;
}
.cart_item_des {
	width: 320px;
	margin-right: 20px;
}
.cart_qty {
	width: 50px;
	margin-right: 40px;
	position: relative;
}
.cart_price {
	width: 140px;
}
.cart_qty_btn {
	font-size: 22px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	background: url('../img/cart_qty_btn.png') no-repeat;
	width: 42px;
	height: 38px;
	padding: 4px 0 0 0;
}
.cart_qty_btn:hover {
	background-position: 0 -52px;
}
.cart_qty_btn:active {
	background-position: 0 -104px;
}
.cart_qty_modal {
	text-align: center;
	background: url('../img/cart_qty_pl.png') no-repeat;
	width: 438px;
	height: 158px;
	padding: 12px;
	position: absolute;
	top: -60px;
	left: -210px;
	z-index: 6;
}
.cart_qty_modal h3 {
	text-align: left;
	color: #bfaa91;
	font-size: 24px;
	line-height: 30px;
	margin-left: 30px;
}
.cart_qty_modal .item_price, .cart_qty_m, .cart_qty_plus, .cart_qty_minus, .cart_qty_input {
	display: inline-block;
	vertical-align: middle;
}
.cart_qty_input {
	outline: none;
	border: none;
	background: url('../img/cart_qty_input.png') no-repeat;
	font-size: 22px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
	width: 60px;
	height: 42px;
	padding: 0 2px;
	margin: 0 4px;
}
.cart_qty_m {
	color: #c2c1c1;
	font-size: 48px;
	line-height: 50px;
	margin: 0 4px;
}
.cart_qty_plus, .cart_qty_minus {
	background: url('../img/cart_qty_pl_min.png') no-repeat;
	border: none;
	width: 24px;
	height: 26px;
}
.cart_qty_plus {
	background-position: 0 -34px;
}
.cart_qty_ok {
	text-align: left;
	margin: 12px 0 0 30px;
}
.cart_qty_ok input {
	color: #423603;
	background: url('../img/cart_qty_ok.png') no-repeat;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	border: none;
	width: 151px;
	height: 45px;
	padding-bottom: 8px;
}

.cart_gift {
	border: 2px solid #bfaa91;
	border-top: none;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	width: 550px;
	margin: -66px auto 54px auto;
	padding: 24px 0 0 40px;
}
.cart_gift .cart_item_des {
	margin-right: 30px;
	width: 270px;
}
.cart_gift_label {
	color: #fff;
	font-weight: bold;
	background: url('../img/cart_gift_label.png') no-repeat;
	width: 71px;
	height: 28px;
	padding: 9px 0 0 20px;
}


.cart_ctrls {
	display: none;
	position: absolute;
	bottom: 0;
	left: 90px;
}
.cart_item:hover .cart_ctrls {
	display: block;
}


.cart_del, .cart_leave {
	display: inline-block;
	vertical-align: top;
	margin-right: 24px;
}
.cart_del input, .cart_leave input, .later_buynow input {
	border: none;
	height: 34px;
	color: #bfaa91;
	font-weight: bold;
}
.cart_del input {
	background: url('../img/cart_del.png') no-repeat;
	width: 108px;
	padding: 0 0 0 24px;
}
.cart_leave input {
	background: url('../img/cart_leave.png') no-repeat;
	width: 172px;
	padding: 0 0 0 27px;
}
.later_buynow input {
	background: url('../img/later_buynow.png') no-repeat;
	width: 133px;
	padding: 0 0 0 27px;
}
.later_buynow input:hover, .cart_del input:hover , .cart_leave input:hover {
	background-position: 0 -44px;
}
.later_buynow input:active, .cart_del input:active , .cart_leave input:active  {
	background-position: 0 -88px;
}


.cart_summary {
	text-align: right;
	width: 580px;
	margin: 0 auto 36px auto;
}
.cart_discount {
	display: inline-block;
	vertical-align: top;
	background: #f1ede8;
	padding: 8px 22px;
	font-weight: bold;
	margin-bottom: 12px;
}
.cart_discount span {
	font-size: 18px;
}
.cart_total {
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
}
.cart_total span {
	font-size: 30px;
	position: relative;
	top: 8px;
	margin-left: 6px;
}
.cart_total i {
	font-size: 14px;
	position: relative;
	top: -6px;
}

.cart_submit {
	text-align: center;
	margin-bottom: 16px;
}
.cart_submit input {
	width: 296px;
}

.cart_payway {
	text-align: center;
	font-weight: bold;
}
.cart_payway img {
	margin-left: 9px;
	position: relative;
	top: 14px;
}
/*/cart*/


/*cart_later*/
.cart_later {
	border: 2px dotted #c4b099;
	border-radius: 8px;
	margin: 0 auto 0 auto;
	width: 564px;
	padding: 20px 0 4px 0;
	position: relative;
}
.cart_later h2 {
	text-align: center;
	font-size: 28px;
	line-height: 30px;
	margin-bottom: 0;
	color: #ea030a;
}
.later_item, .later_item_img, .later_item_des {
	display: inline-block;
	vertical-align: top;
}
.later_item {
	width: 220px;
	margin: 30px 20px 0 20px;
	padding: 12px 0 50px 0;
	position: relative;
}
.later_item_img {
	width: 74px;
}
.later_item_des {
	width: 140px;
}

.later_item_t, .later_item_b {
	position: absolute;
	display: none;
}
.later_item_t {
	background: url('../img/later_item_t.png') no-repeat center 0;
	width: 217px;
	height: 18px;
	top: -18px;
	left: 1px;
}
.later_item_b {
	background: url('../img/later_item_b.png') no-repeat center 0;
	width: 227px;
	height: 20px;
	bottom: 20px;
	left: -4px;
}

.cart_later_clip {
	background: url('../img/clip.png') no-repeat;
	width: 59px;
	height: 67px;
	position: absolute;
	top: -31px;
	left: 30px;
}

.later_buynow {
	display: none;
	position: absolute;
	bottom: 0px;
	left: 40px;
}
.later_item:hover .later_buynow, .later_item:hover .later_item_t, .later_item:hover .later_item_b {
	display: block;
}
/*/cart_later*/




/*order*/
.modal_bg {
	background: url('../img/modal_bg.png');
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
}
.close {
	cursor: pointers;
	background: url('../img/close.png') no-repeat;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 43px;
	height: 43px;
}
.modal_order {
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 0 25px #c7b299;
	width: 952px;
	padding: 40px 0 40px 0;
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -476px;
}
.modal_order h1 {
	color: #ea030a;
	font-size: 58px;
	line-height: 62px;
	text-align: center;
	margin-bottom: 42px;
}
.order_form {
	width: 764px;
	margin: 0 auto;
}
.order_form_h {
	margin: 24px 0 24px 0;
}
.order_form_h_num, .order_form_h h2 {
	display: inline-block;
	vertical-align: middle;
}
.order_form_h_num {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	background: url('../img/reddot.png') no-repeat;
	width: 40px;
	height: 36px;
	padding: 4px 0 0 0;
	margin: -8px 12px 0 0;
}
.order_form_h h2 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}
.ifregistred {
	line-height: 18px;
	font-style: italic;
	font-weight: normal;
	margin-left: 20px;
	display: inline-block;
	vertical-align: middle;
}
.ifregistred span {
	font-weight: bold;
}
.ifregistred a {
	color: #0b739f;
}


.input {
	display: inline-block;
	vertical-align: top;
}
.order_contact_inputs .input {
	width: 380px;
	margin: 0 0 36px 0;
}
.order_delivery_inputs .input {
	width: 780px;
	margin: 0 0 30px 0;
}

.input1, .input2, .textarea1 {
	background: url('../img/inputs.png') no-repeat;
	border: none;
	outline: none;
	padding: 4px 8px;
}
.input1, .input2 {
	height: 22px;
}

.input1 {
	background-position: 0 -80px;
	width: 183px;
}
.input2 {
	background-position: 0 -160px;
	width: 363px;
}

.order_form label {
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	line-height: 14px;
	text-align: right;
	width: 144px;
	padding-right: 10px;
}
.label_note {
	display: block;
	font-weight: normal;
}


.textarea textarea {
	resize: none;
}
.textarea1 {
	background: url('../img/inputs.png') no-repeat 0 -200px;
	margin-bottom: 18px;
	width: 586px;
	height: 103px;
}


.order_menu {
	margin: 0 0 30px 56px;
}
.order_menu li {
	display: inline-block;
	vertical-align: top;
	padding: 6px 12px 6px 12px;
	margin: 0 12px 0 0;
}
.order_menu a {
	color: #0b739f;
	text-decoration: none;
	border-bottom: 1px dashed #186d94;
}
.order_menu a:hover {border-bottom-color: #0192d4}
.order_menu .curr {
	font-weight: bold;
	background: #f9f0d6;
}
.order_menu .curr a {
	color: #543f02;
	border: none;
}


.order_form .textarea {
	margin-bottom: 54px;
}
.order_type {
	margin: 0 0 24px 58px;
}


.add_adr_btn {
	display: inline-block;
	vertical-align: top;
	color: #bfaa91;
	font-weight: bold;
	background: url('../img/add_adr_btn.png') no-repeat;
	border: none;
	width: 156px;
	height: 39px;
	padding: 0 0 0 26px;
	position: relative;
	top: -6px;
	left: 18px;
}
.add_adr_btn:hover {
	background-position: 0 -49px;
}
.add_adr_btn:active {
	background-position: 0 -98px;
}
/*/order*/





/*thanks*/
.modal_thanks {
	text-align: center;
	background: #fff;
	color: #ea030a;
	border-radius: 20px;
	box-shadow: 0 0 25px #c7b299;
	width: 602px;
	position: absolute;
	top: 400px;
	left: 50%;
	margin-left: -301px;
}
.modal_thanks_in {
	background: url('../img/lips.png') no-repeat center 76px;
	border: 3px dashed #c7b299;
	border-radius: 20px;
	padding: 310px 0 66px 0;
}
.modal_thanks_in h1 {
	font-size: 100px;
	line-height: 110px;
}
.modal_thanks_in p {
	font-weight: bold;
	font-size: 58px;
	line-height: 60px;
	margin-top: -30px;
}
/*/thanks*/





/*cabinet*/
.cabinet h1 {
	text-align: center;
	color: #ea030a;
	font-weight: bold;
	font-size: 58px;
	line-height: 60px;
	margin-bottom: 54px;
}
.cabinet_menu {
	text-align: center;
	margin-bottom: 48px;
}
div.cabinet_menu a {
	border: none;
	text-decoration: underline;
}
/*/cabinet*/



/*history*/
.histories {
	text-align: center;
}
.history {
	text-align: left;
	border: 2px dashed #c7b299;
	border-bottom: none;
	display: inline-block;
	vertical-align: bottom;
	width: 177px;
	position: relative;
	margin: 0 30px 108px 30px;
	padding: 24px 30px 0 42px;
}
.history_b, .history_t {
	position: absolute;
}
.history_t {
	background: url('../img/history_t.png') no-repeat;
	width: 63px;
	height: 34px;
	top: -34px;
	left: 90px;
}
.history_b {
	background: url('../img/history_b.png') no-repeat;
	width: 367px;
	height: 49px;
	bottom: -49px;
	left: -63px;
}

.history_date {
	margin-bottom: 4px;
}
.history_num {
	color: #480101;
	font-size: 18px;
	line-height: 21px;
	font-weight: bold;
	margin-bottom: 9px;
}
.history_num span {
	border-bottom: 1px dashed #480101;
}
.history_status {
	font-weight: bold;
	margin-bottom: 18px;
}

.history_items {
	font-size: 0;
	line-height: 0;
	margin: 0 0 12px -10px;
}
.history_items a {
	display: inline-block;
	vertical-align: top;
	margin: 0 5px 10px 5px;
}

.history_sum {
	font-size: 18px;
	font-weight: bold;
}
.history_sum .item_price {
	font-size: 24px;
}
.history_sum i {
	top: -10px;
}
.all_history {
	text-align: left;
	padding-left: 212px;
}

.modal_history {
	border: 3px dashed #c7b299;
	border-radius: 20px;
	background: #fff;
	padding: 24px 30px 16px 30px;
	width: 740px;
	position: absolute;
	top: 140px;
	left: 50%;
	margin-left: -400px;
}
.modal_history .cart_in {
	border: none;
	padding: 0;
	margin: 0;
}
.modal_history h1 {
	color: #ea030a;
	font-size: 58px;
	line-height: 62px;
	text-align: center;
	margin-bottom: 12px;
}
.modal_history_status {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	margin-left: 159px;
	margin-bottom: 42px;
}
.modal_history .cart_qty_btn {
	background: none;
}

/*/history*/



/*personal*/
.personal {
	border: 3px dashed #c7b299;
	border-radius: 20px;
	position: relative;
	width: 790px;
	padding: 36px 0 36px 40px;
	margin: 0 auto;
}
.personal_shade {
	background: url('../img/personal_shade.png') no-repeat center 0;
	position: absolute;
	bottom: -32px;
	left: 0;
	width: 100%;
	height: 29px;
}
.personal_l {
	width: 350px;
}
.personal h2 {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.personal_input, .personal_select {
	margin-bottom: 36px;
}
.personal label, .pseudo_label {
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
}
.personal_input label, .personal_select label, .pseudo_label {
	width: 106px;
	text-align: right;
	margin-right: 6px;
}
.personal_radio label {
	font-size: 16px;
	margin-left: 4px;
	margin-right: 12px;
}
.personal_input input {
	background: url('../img/inputs.png') no-repeat 0 -80px;
	border: none;
	outline: none;
	padding: 4px 8px;
	height: 22px;
	width: 183px;
	margin-top: -4px;
}
.personal_subscribe {
	text-align: center;
	font-size: 17px;
	margin-top: 18px;
}
.personal_submit {
	text-align: center;
	margin: 36px 0 0 0;
}
.personal .sysmess {
	color: #999;
	font-style: italic;
	font-size: 15px;
	width: 150px;
	position: absolute;
	right: 120px;
	bottom: 54px;
}
/*/personal*/




/*addresses*/
.addresses {
	position: relative;
}
.address {
	position: relative;
	border: 3px dashed #c7b299;
	border-radius: 20px;
	padding: 24px 30px 24px 30px;
	width: 380px;
	margin: 0 auto 90px auto;
}
.address_shade {
	background: url('../img/address_shade.png') no-repeat;
	position: absolute;
	bottom: -34px;
	left: 0;
	width: 100%;
	height: 31px;
}
.address address {
	font-size: 16px;
	font-style: normal;
}
.address address span {
	font-weight: bold;
	font-size: 18px;
}
.address_del {
	position: absolute;
	bottom: -58px;
}
.address_del a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	height: 37px;
	color: #bfaa91;
	font-weight: bold;
	background: url('../img/cart_del.png') no-repeat;
	width: 108px;
	padding: 7px 0 0 44px;
}
.address_del a:hover {
	background-position: 0 -44px;
}
.address_del a:active {
	background-position: 0 -88px;
}

.adr_add {
	position: absolute;
	top: 0;
	left: 760px;
}
.adr_add .add_adr_btn {
	position: static;
}

.modal_add_adr {
	background: #fff;
	border: 3px dashed #c7b299;
	border-radius: 20px;
	padding: 24px 30px 36px 30px;
	width: 600px;
	position: absolute;
	top: 320px;
	left: 50%;
	margin-left: -330px;
}
.modal_add_adr h1 {
	color: #ea030a;
	font-size: 58px;
	line-height: 62px;
	text-align: center;
	margin-bottom: 42px;
}
.add_adr_input {
	margin-bottom: 30px;
}
.add_adr_input label {
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	text-align: right;
	width: 144px;
	margin-right: 8px;
	margin-top: 4px;
}
.add_adr_input input {
	outline: none;
	background: url('../img/inputs.png') no-repeat 0 -120px;
	border: none;
	width: 273px;
	height: 21px;
	padding: 4px 8px;
}
.adr_add_submit {
	text-align: center;
	margin-top: 54px;
}
.add_adr_modal_shade {
	background: url('../img/add_adr_modal_shade.png') no-repeat;
	position: absolute;
	bottom: -29px;
	left: 0;
	width: 100%;
	height: 26px;
}
/*/addresses*/




/*actions*/
.actions {
	text-align: center;
}
.actions h1, .action_page h1 {
	color: #ea030a;
	font-size: 92px;
	line-height: 100px;
	text-align: center;
	margin-bottom: 48px;
}

.action {
	text-align: left;
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 253px;
	margin: 0 30px 42px 30px;
}
.action_shade {
	background: url('../img/action_shade.png') no-repeat;
	position: absolute;
	top: 302px;
	left: -57px;
	width: 367px;
	height: 49px;
}
.action_img {
	position: relative;
	z-index: 1;
	margin-bottom: 12px;
}
.action_name {
	font-size: 24px;
	line-height: 30px;
}
.actions_archive {
	text-align: left;
	padding-left: 356px;
}

.action_img_l {
	text-align: center;
	background: url('../img/action_page_shade.png') no-repeat 0 100%;
	padding: 0 0 42px 0;
	width: 1075px;
	margin: 0 0 0 -58px;
}
.action_text {
	font-weight: bold;
	padding: 0 80px 0 120px;
	margin: 0 0 54px 0;
}
.action_page .btn2 {
	margin-left: 120px;
}
/*/actions*/





/*comment*/
.comment h1 {
	color: #ea030a;
	font-size: 53px;
	line-height: 60px;
	margin: -10px 0 42px 0;
}
.comment_l {
	width: 480px;
	margin-right: 30px;
}
.comment_r {
	width: 240px;
}
.comment .text {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}

.iwant_pl {
	background: #fff;
	border: 1px solid #ebe3dc;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 42px 20px 36px 26px;
	position: relative;
	min-height: 590px;
}
.iwant_pl .iwant_btn {
	margin-bottom: 36px;
}
.iwant_pl .product_params {
	margin-bottom: 42px;
}
.iwant_pl .product_price {
	text-align: center;
	margin-bottom: 12px;
}
.iwant_img {
	text-align: center;
}
.iwant_shade {
	background: url('../img/iwant_shade.png') no-repeat 0 center;
	position: absolute;
	top: 0;
	right: -18px;
	width: 18px;
	height: 100%;
}
/*/comment*/




/*faq*/
.faq_form {
	margin: 0 0 54px 0;
}
.faq_form_l {
	width: 386px;
}
.faq_textarea textarea {
	outline: none;
	font-size: 16px;
	border: none;
	background: url('../img/faq_textarea.png') no-repeat;
	width: 338px;
	height: 92px;
	padding: 10px 10px;
}
.faq_upload {
	margin: 4px 0 24px 0;
}
.faq_upload a {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	background: url('../img/upload_img.png') no-repeat;
	text-decoration: none;
	padding: 4px 0 6px 42px;
}
.faq_upload span {
	text-decoration: underline;
}

.faq {
	margin: 0 0 42px 0;
	width: 680px;
}
.faq_question {
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
}
.faq_img {
	float: left;
	margin: 6px 40px 0 0;
}
/*/faq*/

/*-----------------PAGE-END-----------------*/




/*-----------------FOOTER-----------------*/
.footer {
	background: url('../img/footer_bd.png') no-repeat;
	position:relative;
	margin: 12px 0 0 0;
	padding: 36px 0 30px 0;
}
#copyright {
}
.footer_search {
	position: absolute;
	left: 300px;
	top: 36px;
}
.footer_search_inpt {
	background: url('../img/footer_search.png') no-repeat;
	border: none;
	outline: none;
	width: 338px;
	height: 34px;
	padding: 0 40px 0 12px;
}
.footer_search_submit {
	background: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 36px;
	height: 34px;
	border: none;
}
.footer_search_inpt::-webkit-input-placeholder {
	font: italic 18px/24px 'PT Sans', Arial, Helvetica, sans-serif;
	color: #ccc;
}
.footer_search_inpt:-moz-placeholder {
	font: italic 18px/24px 'PT Sans', Arial, Helvetica, sans-serif;
	color: #ccc;
}
.footer_search_inpt {
	font: italic 18px/24px 'PT Sans', Arial, Helvetica, sans-serif;
	color: #ccc;
}

#madein {
	color: #000;
	font-size:12px;
	font-style: italic;
	line-height:14px;
	text-decoration:none;
	display:block;
	position:absolute;
	top:36px;
	right:6px;
	width: 148px;
}
#octoberweb {
	float: left;
	display: inline;
	margin: 0 9px 0 0;
}
#madein span{
	color: #000;
	text-decoration: underline;
}
#madein:hover span {color: #80111a;}
/*------------------FOOTER-END-------------------*/




/*---------------------STUFF--------------------*/
/*text-page*/
.textpage {
	width: 800px;
	margin: 0 auto;
}
.textpage h1 {
	color: #db0409;
	font-size: 54px;
	line-height: 60px;
	text-align: center;
	margin: 0 0 42px 0;
}
.text p {margin-bottom: 12px}
.text ul, .text ol {margin: 0 0 18px 36px}
.text li {margin-bottom: 6px;}
.text ul li {list-style: outside disc}
.text ol li {list-style: outside decimal}
.text h2, .text h3 {margin: 24px 0 9px 0;}
.text table {
	margin: 18px 0 18px 0;
	font-size: 14px;
	border-collapse: collapse;
}
.text tr, .text td {
	border:1px solid #eee2ba;
	padding:4px 8px 4px 8px;
}
.text thead td {
	font-weight: bold;
	background-color: #f3e9cb;
	color: #000;
	text-align: center;
}
.img_left {
	float: left;
	margin: 0 18px 0 0; 
}
.img_right {
	float: right;
	margin: 0 0 0 18px; 
}
.text blockquote {
	margin-left: 18px;
	font-style: italic;
}
/*/text-page*/





/*pagemenu*/
.pagemenu li {
	display: inline-block;
	vertical-align: top;
	padding: 6px 12px 6px 12px;
	margin: 0 0 18px 0;
	position: relative;
}
.pagemenu a {
	text-decoration: none;
	border-bottom: 1px dashed #000;
}
.pagemenu li div {
	display: none;
	background: url('../img/pagemenu_curr_arr.png') no-repeat;
	position: absolute;
	bottom: -13px;
	left: 50%;
	margin-left: -52px;
	width: 104px;
	height: 13px;
}

.pagemenu .curr {
	background: url('../img/pagemenu_curr_bg.png') repeat-x;
}
.pagemenu .curr a {
	font-weight: bold;
	text-decoration: none;
	border: none;
	color: #fff;
}
.pagemenu .curr div {
	display: block;
}
/*/pagemenu*/




/*btn1*/
.btn1 {
	font-size: 0;
}
.btn1,
.btn1_in,
.btn1 a,
.btn1 input {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}
.btn1,
.btn1_in {
	background: url('../img/btn1.png') no-repeat;
}
.btn1_in {
	background-position: 100% -198px;
	position: relative;
	right: -8px;
	height: 56px;
}
.btn1:hover {background-position: 0 -66px;}
.btn1:active {background-position: 0 -132px;}
.btn1_in:hover {background-position: 100% -264px;}
.btn1_in:active {background-position: 100% -330px;}

.btn1 a,
.btn1 input {
	color: #fff;
	font: bold 36px/42px 'PT Sans', Arial, Helvetica, Geneva, sans-serif;
	margin-left: -8px;
}
.btn1 a {
	text-align: center;
	text-decoration: none;
	padding: 0px 18px 0 18px;
	height: 56px;
}
.btn1 input {
	background: none;
	border: none;
	padding: 0 18px 4px 18px;
	height: 56px;
}

.iwant_btn {
	margin-bottom: 24px;
}
.iwant_btn input {
	width: 174px;
}
.order_submit {
	text-align: center;
	margin: 54px 0 0 0;
}
/*/btn1*/


/*btn2*/
.btn2 {
	font-size: 0;
}
.btn2,
.btn2_in,
.btn2 a,
.btn2 input {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}
.btn2,
.btn2_in {
	background: url('../img/btn2.png') no-repeat;
}
.btn2_in {
	background-position: 100% -141px;
	position: relative;
	right: -11px;
	height: 37px;
}
.btn2:hover {background-position: 0 -47px;}
.btn2:active {background-position: 0 -94px;}
.btn2_in:hover {background-position: 100% -188px;}
.btn2_in:active {background-position: 100% -235px;}

.btn2 a,
.btn2 input {
	color: #000;
	font: bold 16px/20px 'PT Sans', Arial, Helvetica, Geneva, sans-serif;
	margin-left: -11px;
}
.btn2 a {
	text-align: center;
	text-decoration: none;
	padding: 5px 18px 0 18px;
	height: 32px;
}
.btn2 input {
	background: none;
	border: none;
	padding: 0 18px 4px 18px;
	height: 37px;
}
/*/btn2*/


/*btn1*/
.btn3 {
	font-size: 0;
}
.btn3,
.btn3_in,
.btn3 a,
.btn3 input {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}
.btn3,
.btn3_in {
	background: url('../img/btn3.png') no-repeat;
}
.btn3_in {
	background-position: 100% -189px;
	position: relative;
	right: -8px;
	height: 56px;
}
.btn3:hover {background-position: 0 -63px;}
.btn3:active {background-position: 0 -125px;}
.btn3_in:hover {background-position: 100% -252px;}
.btn3_in:active {background-position: 100% -314px;}

.btn3 a,
.btn3 input {
	color: #523702;
	text-shadow: 0 1px 0 #f7da96;
	font: bold 26px/42px 'PT Sans', Arial, Helvetica, Geneva, sans-serif;
	margin-left: -8px;
}
.btn3 a {
	text-align: center;
	text-decoration: none;
	padding: 0px 18px 0 18px;
	height: 56px;
}
.btn3 input {
	background: none;
	border: none;
	padding: 0 18px 4px 18px;
	height: 56px;
}
/*/btn1*/





/*bread*/
.bread, .bread a {
	font-style: italic;
	color: #bfaa91;
	margin-bottom: 24px;
}
/*/bread*/



/*pagination*/
.pgn {
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	margin: 18px 54px 0 0;
	text-align: center;
}
.pgn a {
	padding: 4px 9px 5px 10px;
}
.pgn .curr {
	background: #f9f0d6;
	border-radius: 3px;
	text-decoration: none;
	color: #543f02;
}
/*/pagination*/






/*placeholder*/
/*input::-webkit-input-placeholder {
	font: italic 13px/18px 'PT Sans', Arial, Helvetica, sans-serif;
	color: #5a5a5a;
}
input:-moz-placeholder {
	font: italic 13px/18px 'PT Sans', Arial, Helvetica, sans-serif;
	color: #5a5a5a;
}
input:placeholder {
	font: italic 13px/18px 'PT Sans', Arial, Helvetica, sans-serif;
	color: #5a5a5a;
}*/
/*/placeholder*/


.cl {clear:both}