
{% extends "base.html" %}

{% load thumbnail siteblocks_extras %}

{% if page.title %}
    {% block title %}
        {{ category.title|striptags }} &mdash;
    {% endblock %}
{% endif %}

{% block main %}
    <div class="catalog">
        <div class="catalog_l col">
            <div class="catalog_menu">
                <ul>
                    {% for child in parent_category.get_children %}
                        <li class="catalog_menu_l1{% if child.slug == sub_slug_1 and not sub_slug_2 %} curr{% endif %}"><a href="{{ child.get_absolute_url }}">{{ child.title }}</a></li>
                        {% if child.slug == sub_slug_1 %}
                            {% for child_l2 in child.get_children %}
                                <li class="catalog_menu_l2{% if child_l2.slug == sub_slug_2 and not sub_slug_3 %} curr{% endif %}"><a href="{{ child_l2.get_absolute_url }}">{{ child_l2.title }}</a></li>
                                {% if child_l2.slug == sub_slug_2 %}
                                    {% for child_l3 in child_l2.get_children %}
                                        <li {% if child_l3.slug == sub_slug_3 %}class="curr"{% endif %} ><a href="{{ child_l3.get_absolute_url }}">{{ child_l3.title }}</a></li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div><!--/catalog_menu-->

            {% block_banner %}
        </div><!--/catalog_l-->

        <div class="catalog_r col">
            <div class="bread">
                {{ category.get_bread|removetags:"br"|safe }}
            </div>

            <div class="filters">
                <div class="filter_price">
                    Цена до
                    <input class="filter_price_inpt" type="text" value="{{ price_filter|default:max_price|floatformat:0 }}" />
                    руб.
                    <div id="filter_price"></div>
                </div>

                <script type="text/javascript">
                    SetPriceSlider({{ min_price|floatformat:0 }},{{ max_price|floatformat:0 }},{{ price_filter|default:max_price|floatformat:0 }});
                </script>

                <div class="select">
                    <div class="select_label">Бренд</div>
                    <div class="select_drop">
                        <div class="select_drop_h">Бренд</div>
                        <ul>
                            {% for brand in category.brands %}
                                <li><a href="#">{{ brand.title }}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="select_drop_t"><img src="/media/img/select_drop_t.png"/></div>
                        <div class="select_drop_b"><img src="/media/img/select_drop_b.png"/></div>
                        <div class="select_drop_l"><img src="/media/img/select_drop_l.png"/></div>
                        <div class="select_drop_r"><img src="/media/img/select_drop_r.png"/></div>
                    </div>
                </div>

                <div class="select">
                    <div class="select_label">Коллекция</div>
                    <div class="select_drop">
                        <div class="select_drop_h">Коллекция</div>
                        <ul>
                            {% for item in category.collection %}
                               <li><a href="#">{{ item.collection }}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="select_drop_t"><img src="/media/img/select_drop_t.png"/></div>
                        <div class="select_drop_b"><img src="/media/img/select_drop_b.png"/></div>
                        <div class="select_drop_l"><img src="/media/img/select_drop_l.png"/></div>
                        <div class="select_drop_r"><img src="/media/img/select_drop_r.png"/></div>
                    </div>
                </div>

                <div class="select">
                    <div class="select_label">Серия</div>
                    <div class="select_drop">
                        <div class="select_drop_h">Серия</div>
                        <ul>
                            {% for item in category.series %}
                               <li><a href="#">{{ item.series }}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="select_drop_t"><img src="/media/img/select_drop_t.png"/></div>
                        <div class="select_drop_b"><img src="/media/img/select_drop_b.png"/></div>
                        <div class="select_drop_l"><img src="/media/img/select_drop_l.png"/></div>
                        <div class="select_drop_r"><img src="/media/img/select_drop_r.png"/></div>
                    </div>
                </div>

                <div class="select">
                    <div class="select_label">Цвет</div>
                    <div class="select_drop">
                        <div class="select_drop_h">Цвет</div>
                            <ul>
                                {% for item in category.color %}
                                   <li><a href="#">{{ item.color }}</a></li>
                                {% endfor %}
                            </ul>
                        <div class="select_drop_t"><img src="/media/img/select_drop_t.png"/></div>
                        <div class="select_drop_b"><img src="/media/img/select_drop_b.png"/></div>
                        <div class="select_drop_l"><img src="/media/img/select_drop_l.png"/></div>
                        <div class="select_drop_r"><img src="/media/img/select_drop_r.png"/></div>
                    </div>
                </div>
            </div><!--/filters-->


            <div class="items">
                {% for item in catalog %}
                    <div class="item">
                        <div class="item_img">
                            {% thumbnail item.image "164" as im %}
                                <a href="{{ item.get_absolute_url }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" /></a>
                            {% endthumbnail %}
                            {% if item.is_new or item.is_hit or item.is_daily or item.is_unique or item.is_limit %}
                                <div class="item_labels">
                                    {% if item.is_daily %}
                                        <div class="item_label_daily"></div>
                                    {% endif %}
                                    {% if item.is_hit %}
                                        <div class="item_label_top"></div>
                                    {% endif %}
                                    {% if item.is_new %}
                                        <div class="item_label_new"></div>
                                    {% endif %}
                                    {% if item.is_unique %}
                                        <div class="item_label_unique"></div>
                                    {% endif %}
                                    {% if item.is_action %} <!-- todo: item.is_action !!! -->
                                        <div class="item_label_action"></div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if item.discount_present or item.discount %}
                                <div class="item_specs">
                                    {% if item.discount_present %}
                                        <div class="item_spec_gift"></div>
                                    {% else %}
                                        <div class="item_specs"><div class="item_spec_plus">{{ item.discount }}</div></div>
                                        <!-- или <div class="item_spec_limited"></div> ? или <div class="item_spec_percent">30<span>%</span></div> ? -->
                                    {% endif %}
                                </div>
                                {% if item.discount_description %}
                                    <div class="item_gift_blob" style="display: none;">
                                        {{ item.discount_description|safe }}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <h3 class="item_name"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
                        <div class="item_w">{{ item.volume }}</div>
                        <div class="item_price">{{ item.get_str_price }} <i>руб.</i></div>
                        {% if item.old_price %}
                            <div class="item_old_price">{{ item.get_str_old_price }}</div>
                        {% endif %}
                    </div>
                {% empty %}
                    <div class="item">Товары пока не добавлены</div>
                {% endfor %}
            </div><!--/items-->
        </div><!--/catalog_r-->
    </div><!--/catalog-->


    <div class="recent">
        <h2><span>Недавно просмотренные товары</span></h2>
        <div class="carousel_item">
            <div class="carousel_item_img"><a href="#"><img src="/media/images/i1_s.jpg" alt="" /></a></div>
            <div class="carousel_item_des">
                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                <div class="item_w">400 мл</div>
                <div class="item_price">340 <i>руб.</i></div>
            </div>
        </div>
        <div class="carousel_item">
            <div class="carousel_item_img"><a href="#"><img src="/media/images/i2_s.jpg" alt="" /></a></div>
            <div class="carousel_item_des">
                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                <div class="item_w">400 мл</div>
                <div class="item_price">340 <i>руб.</i></div>
            </div>
        </div>
        <div class="carousel_item">
            <div class="carousel_item_img"><a href="#"><img src="/media/images/i3_s.jpg" alt="" /></a></div>
            <div class="carousel_item_des">
                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                <div class="item_w">400 мл</div>
                <div class="item_price">340 <i>руб.</i></div>
            </div>
        </div>
</div><!--/recent-->
{% endblock %}

