{% extends "base.html" %}

{% load thumbnail siteblocks_extras %}


{% block title %}
    Вопрос визажистам от {{ advice.pub_date|date:"j E Y" }} &mdash;
{% endblock %}


{% block main %}
    <div class="catalog">
        <div class="catalog_l col">
        </div><!--/catalog_l-->

        <div class="catalog_r col">
            <div class="bread">Советы / <a href="/visage_advices/">Консультация визажистов</a> / </div>
            <div class="comment">
                <div class="comment_l col">
                    <p>{{ advice.name }}</p>
                    <div class="text">
                        {% thumbnail advice.image "250" as im %}
                           <img src="{{ im.url }}" width="{{ im.width }}" alt="" />
                        {% endthumbnail %}
                        {{ advice.description }}
                    </div>
                </div>
                <div>
                    <p>{{ advice.answer }}</p>
                    <p>{{ advice.author }}</p>
                </div>

                <div class="comment_r col">
                </div>
            </div><!--/comment-->
        </div><!--/catalog_r-->

    </div><!--/textpage-->
{% endblock %}