{% extends "base.html" %}

{% load thumbnail siteblocks_extras %}


{% block title %}
    Вопрос от {{ question.pub_date|date:"j E Y" }} &mdash;
{% endblock %}


{% block main %}
    <div class="catalog">
        <div class="catalog_l col">
        </div><!--/catalog_l-->

        <div class="catalog_r col">
            <div class="bread">Советы / <a href="/visage_advices/">Консультация визажистов</a> / </div>
            <div class="comment">
                <div class="comment_l col">
                    <p>{{ question.name }}</p>
                    <div class="text">
                        {{ question.question }}
                    </div>
                </div>
                <div>
                    <p>{{ question.answer }}</p>
                    <p>{{ question.author }}</p>
                </div>

                <div class="comment_r col">
                </div>
            </div><!--/comment-->
        </div><!--/catalog_r-->

    </div><!--/textpage-->
{% endblock %}