{% extends "base.html" %}

{% load thumbnail products_extras siteblocks_extras %}

{% block title %}
    Ошибка при авторизации &mdash;
{% endblock %}

{% block main %}
    {% block_catalog_menu '' %}

    <div class="right col">
    <div class="page_h">
        <h1>Ошибка при авторизации</h1>
    </div>

    <div class="order_final">
        {% if form.errors %}
            <div class="text">
                {{ form.non_field_errors  }}
            </div><!--/text-->
            <form class="auth_form" id="auth_form" method="post" action="{% url auth_login %}?next={{ next_url }}">
                <div class="input input3">
                    <label>E-mail:</label>
                    {{ auth_form.username }}{{ auth_form.username.errors }}<a href="/registration_form/">Зарегистрироваться</a>
                </div>
                <div class="input input3">
                    <label>Пароль:</label>
                    {{ auth_form.password }}{{ auth_form.password.errors }}<a href="/password/reset/">Восстановить пароль</a>
                </div>
                <div><input class="btn2 auth_submit" type="submit" value="Войти" /></div>
            </form>
        {% endif %}
    </div>
    </div>

{% endblock %}



