{% extends "base.html" %}

{% load thumbnail %}

{% if page.title %}
    {% block title %}
        Главная &mdash;
    {% endblock %}
{% endif %}

{% block main %}
    <div class="carousel_out">
        <div class="carousel">
            <div class="carousel_in">
                <ul class="carousels actions">
                    <li>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i1_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i2_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i3_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i1_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i2_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i3_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i1_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i2_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i3_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i1_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i2_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i3_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                    </li>
                </ul>
{% comment %}
                <ul class="carousels hit">
                    <li>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i1_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i2_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i3_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i1_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i2_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i3_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i1_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i2_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i3_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i1_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i2_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                        <div class="carousel_item">
                            <div class="carousel_item_img"><a href="#"><img src="/media/images/i3_m.jpg" alt="" /></a></div>
                            <div class="carousel_item_des">
                                <h3 class="item_name"><a href="#">Гель для Ванны и Душа «Малазийский Кокос»</a></h3>
                                <div class="item_w">400 мл</div>
                                <div class="item_price">340 <i>руб.</i></div>
                            </div>
                        </div>
                    </li>
                </ul>{% endcomment %}

                <ul class="carousel_ctrls">
                    <li></li>
                    <li></li>
                </ul><!--/carousel_ctrls-->
            </div><!--/carousel_in-->
        </div><!--/carousel-->

        <div class="carousel_filter">
            <ul>
                <li><a href="#"><img src="/media/img/carousel_ic_action.png" alt="" /> <span>Акции</span></a> <img class="carousel_menu_shade" src="/media/img/carousel_menu_curr_shade.png"/></li>
                <li><a href="#"><img src="/media/img/carousel_ic_daily.png" alt="" /> <span>Товары дня</span></a> <img class="carousel_menu_shade" src="/media/img/carousel_menu_curr_shade.png"/></li>
                <li class="curr"><a href="#"><img src="/media/img/carousel_ic_top.png" alt="" /> <span>Хиты продаж</span></a> <img class="carousel_menu_shade" src="/media/img/carousel_menu_curr_shade.png"/></li>
                <li><a href="#"><img src="/media/img/carousel_ic_new.png" alt="" /> <span>Новинки</span></a> <img class="carousel_menu_shade" src="/media/img/carousel_menu_curr_shade.png"/></li>
                <li><a href="#"><img src="/media/img/carousel_ic_unique.png" alt="" /> <span>Уникальные товары</span></a> <img class="carousel_menu_shade" src="/media/img/carousel_menu_curr_shade.png"/></li>
            </ul>
        </div><!--/carousel_filter-->
    </div><!--/carousel_out-->


    <div class="index_news">
        <h2>Новости</h2>
        <div class="index_new index_new_1">
            <h3 class="index_new_h"><a href="#">Мастер клас ESTÉE LAUDER в наших магазинах. Насладитесь настроением Supreme!</a></h3>
            <div class="index_new_date">20 июля</div>
            <div class="index_new_arr"></div>
        </div>
        <div class="index_new index_new_2">
            <h3 class="index_new_h"><a href="#">Клиентский день BIOTHERM В ТК "Охотный ряд"  11 июля поRM В ТК "Охотный ряд"  11 июля по адресу г. Москва, Манежная пл., 1</a></h3>
            <div class="index_new_date">20 июля</div>
            <div class="index_new_arr"></div>
        </div>
        <div class="index_new index_new_3">
            <h3 class="index_new_h"><a href="#">Приглашаем на Марафон Красоты CLARINS! Только с 17 по 19 июля</a></h3>
            <div class="index_new_date">20 июля</div>
            <div class="index_new_arr"></div>
        </div>
        <div class="index_news_all"><span><a href="#">Все новости</a></span></div>
    </div><!--/index_news-->

    {% if life_events %}
        <div class="index_cases">
            <h2>На все случаи жизни</h2>
            <ul>
                {% for life_event in life_events %}
                    <li><a href="{{ life_event.get_absolute_url }}"><img src="{{ life_event.get_src_image }}" alt="" /><span>{{ life_event.title }}</span></a></li>
                {% endfor %}
            </ul>
        </div><!--/index_cases-->
    {% endif %}
{% endblock %}

