{% extends "base.html" %}

{% load thumbnail %}

{% if page.title %}
    {% block title %}
        Главная &mdash;
    {% endblock %}
{% endif %}

{% block main %}
    <div class="carousel_out">
        <div class="carousel">
{% comment %}
        {{ products_hit }}
        {{ products_new }}
        {{ products_unique }}{% endcomment %}
            <div class="carousel_in">
                <ul class="carousel_actions">
                    {% for list in actions %}
                        <li>
                            {% for item in list %}
                                <div class="action">
                                   <div class="action_img"><a href="{{ item.get_absolute_url }}">
                                       {% thumbnail item.image "253x321" crop="center" as im %}
                                           <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
                                       {% endthumbnail %}
                                   </a></div>
                                   <div class="action_shade"></div>
                                   <h3 class="action_name"><a href="{{ item.get_absolute_url }}" {% if item.is_target_blank %}target="_blank"{% endif %}>{{ item.title }}</a></h3>
                                </div>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>

                <ul class="carousel_daily">
                    {% for list in products_daily %}
                        <li>
                        {% for item in list %}
                            <div class="carousel_item">
                                <div class="carousel_item_img"><a href="{{ item.get_absolute_url }}">
                                    {% thumbnail item.image "100x102" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
                                    {% endthumbnail %}
                                </a></div>
                                <div class="carousel_item_des">
                                    <h3 class="item_name"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
                                    <div class="item_w">{{ item.volume }}</div>
                                    <div class="item_price">{{ item.get_str_price }} <i>руб.</i></div>
                                </div>
                            </div>
                        {% endfor %}
                        </li>
                    {% endfor %}
                </ul>

                <ul class="carousel_hit">
                    {% for list in products_hit %}
                        <li>
                        {% for item in list %}
                            <div class="carousel_item">
                                <div class="carousel_item_img"><a href="{{ item.get_absolute_url }}">
                                    {% thumbnail item.image "100x102" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
                                    {% endthumbnail %}
                                </a></div>
                                <div class="carousel_item_des">
                                    <h3 class="item_name"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
                                    <div class="item_w">{{ item.volume }}</div>
                                    <div class="item_price">{{ item.get_str_price }} <i>руб.</i></div>
                                </div>
                            </div>
                        {% endfor %}
                        </li>
                    {% endfor %}
                </ul>

                <ul class="carousel_new">
                    {% for list in products_new %}
                        <li>
                        {% for item in list %}
                            <div class="carousel_item">
                                <div class="carousel_item_img"><a href="{{ item.get_absolute_url }}">
                                    {% thumbnail item.image "100x102" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
                                    {% endthumbnail %}
                                </a></div>
                                <div class="carousel_item_des">
                                    <h3 class="item_name"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
                                    <div class="item_w">{{ item.volume }}</div>
                                    <div class="item_price">{{ item.get_str_price }} <i>руб.</i></div>
                                </div>
                            </div>
                        {% endfor %}
                        </li>
                    {% endfor %}
                </ul>

                <ul class="carousel_unique">
                    {% for list in products_unique %}
                        <li>
                        {% for item in list %}
                            <div class="carousel_item">
                                <div class="carousel_item_img"><a href="{{ item.get_absolute_url }}">
                                    {% thumbnail item.image "100x102" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
                                    {% endthumbnail %}
                                </a></div>
                                <div class="carousel_item_des">
                                    <h3 class="item_name"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
                                    <div class="item_w">{{ item.volume }}</div>
                                    <div class="item_price">{{ item.get_str_price }} <i>руб.</i></div>
                                </div>
                            </div>
                        {% endfor %}
                        </li>
                    {% endfor %}
                </ul>

                <ul class="carousel_ctrls">
                    <li></li>
                    <li></li>
                </ul><!--/carousel_ctrls-->
            </div><!--/carousel_in-->
        </div><!--/carousel-->

        <div class="carousel_filter">
            <ul>
                <li><a href="#" name="carousel_actions"><img src="/media/img/carousel_ic_action.png" alt="" /> <span>Акции</span></a> <img class="carousel_menu_shade" src="/media/img/carousel_menu_curr_shade.png"/></li>
                <li><a href="#" name="carousel_daily"><img src="/media/img/carousel_ic_daily.png" alt="" /> <span>Товары дня</span></a> <img class="carousel_menu_shade" src="/media/img/carousel_menu_curr_shade.png"/></li>
                <li class="curr"><a href="#" name="carousel_hit"><img src="/media/img/carousel_ic_top.png" alt="" /> <span>Хиты продаж</span></a> <img class="carousel_menu_shade" src="/media/img/carousel_menu_curr_shade.png"/></li>
                <li><a href="#" name="carousel_new"><img src="/media/img/carousel_ic_new.png" alt="" /> <span>Новинки</span></a> <img class="carousel_menu_shade" src="/media/img/carousel_menu_curr_shade.png"/></li>
                <li><a href="#" name="carousel_unique"><img src="/media/img/carousel_ic_unique.png" alt="" /> <span>Уникальные товары</span></a> <img class="carousel_menu_shade" src="/media/img/carousel_menu_curr_shade.png"/></li>
            </ul>
        </div><!--/carousel_filter-->
    </div><!--/carousel_out-->
    {% comment %}<script type="text/javascript">initCarousel();</script>{% endcomment %}


    {% if news %}
        <div class="index_news">
            <h2>Новости</h2>
            {% for new in news %}
                <div class="index_new index_new_{{ forloop.counter }}">
                    <h3 class="index_new_h"><a href="/news/{{ new.id }}/">{{ new.title }}</a></h3>
                    <div class="index_new_date">{{ new.date_add|date:"j E" }}</div>
                    <div class="index_new_arr"></div>
                </div>
            {% endfor %}
            <div class="index_news_all"><span><a href="/news/">Все новости</a></span></div>
        </div><!--/index_news-->
    {% endif %}


    {% if life_events %}
        <div class="index_cases">
            <h2>На все случаи жизни</h2>
            <ul>
                {% for life_event in life_events %}
                    <li><a href="{{ life_event.get_absolute_url }}"><img src="{{ life_event.get_src_image }}" alt="" /><span>{{ life_event.title }}</span></a></li>
                {% endfor %}
            </ul>
        </div><!--/index_cases-->
    {% endif %}
{% endblock %}

