{% extends "base.html" %}

{% load thumbnail siteblocks_extras pagination_tags products_extras %}

{% block title %}
    Новости &mdash;
{% endblock %}

{% block main %}
    <div class="news">
        <h1>Новости</h1>

        <div class="news_in load_block">
            <input type="hidden" id="loaded_ids" autocomplete="off" value="{{ next_id_loaded_items }}">
            <input type="hidden" id="a_name" autocomplete="off" value="newsboard">
            <input type="hidden" id="m_name" autocomplete="off" value="News">
            <input type="hidden" id="template" autocomplete="off" value="news_load_template">
            {% for new in news %}
                <div class="new {% cycle 'new_l' 'new_r' %}">
                    <h3 class="new_h"><a href="{{ new.get_absolute_url }}">{{ new.title }}</a></h3>
                    <div class="new_date">{{ new.date_add|date:"j E" }}</div>
                    <div class="new_arr"></div>
                </div>

                <div class="cl"></div>
            {% endfor %}
            {% if loaded_count %}
                <div class="news_more"><div class="btn2"><div class="btn2_in"><a href="#">Еще {{ loaded_count }}</a></div></div></div>
            {% endif %}
        </div><!--/news_in-->
    </div><!--/news-->
{% endblock %}

