{% if is_empty %}
    <div class="cartbox">
        <div class="cartbox_name">Косметичка</div>
        {% if user.is_authenticated or profile_id %}
            <div class="cartbox_cab">
                <a href="/cabinet/">Личный кабинет</a>
                <a class="cartbox_exit" href="/logout/"></a>
            </div>
        {% else %}
            <div class="cartbox_cab">
                <a class="auth_lnk dot" href="#">Вход</a>
                <a class="reg_lnk" href="/registration_form/#modal_bg">Регистрация</a>
            </div>
        {% endif %}

        <div class="cartbox_sum">
            <div><span class="cartbox_qty">Пока</span></div>
            <div class="cartbox_total">пуста</div>
        </div>
    </div>
{% else %}
    <div class="cartbox">
    	<div class="cartbox_name">Косметичка</div>
        {% if user.is_authenticated or profile_id %}
            <div class="cartbox_cab">
                <a href="/cabinet/">Личный кабинет</a>
                <a class="cartbox_exit" href="/logout/"></a>
            </div>
        {% else %}
            <div class="cartbox_cab">
                <a class="auth_lnk dot" href="#">Вход</a>
                <a class="reg_lnk" href="/registration_form/#modal_bg">Регистрация</a>
            </div>
        {% endif %}

    	<div class="cartbox_sum">
    		<div><a class="cartbox_qty" href="/cart/">{{ cart_products_count }} {{ cart_products_text }}</a></div>
    		<div class="cartbox_total">на <span>{{ cart_total }}</span> <i>руб.</i></div>
    	</div>

    	<a class="cartbox_cart_lnk" href="/cart/">Оформить</a>
    </div><!--/cartbox-->
{% endif %}




