{% load thumbnail siteblocks_extras pytils_numeral %}
<div class="cart_item{% if loaded %} loaded{% endif %}" {% if loaded %}style="display: none;"{% endif %}>
    <input type="hidden" class="cart_item_id" value="{{ cart_item.id }}">
    <div class="cart_item_img">
        {% thumbnail cart_item.product.image "90x92" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
        {% endthumbnail %}
    </div>
    <div class="cart_item_des">
        <h3 class="item_name"><a href="{{ cart_item.product.get_absolute_url }}">{{ cart_item.product.title }}</a></h3>
        <div class="item_w">{{ cart_item.product.volume }}</div>
    </div>
    <div class="cart_qty">
        <div class="cart_qty_btn">{{ cart_item.count }}</div>
        <div class="cart_qty_modal" style="display: none;">
            <input type="hidden" class="initial_count" value="{{ cart_item.count }}">
            <input type="hidden" class="cart_qty_item_id" value="{{ cart_item.id }}">
            <h3>Укажите количество</h3>
            <span class="item_price cart_qty_price"><span>{{ cart_item.product.price|floatformat:0 }}</span> <i>руб.</i></span>
            <span class="cart_qty_m">×</span>
            <input type="button" class="cart_qty_minus"/>
            <input class="cart_qty_input cart_qty_modal_text" type="text" name="" value="{{ cart_item.count }}" />
            <input type="button" class="cart_qty_plus"/>
            <span class="cart_qty_m">=</span>
            <span class="item_price cart_qty_total_price"><span>{{ cart_item.get_str_total }}</span> <i>руб.</i></span>
            <div class="cart_qty_ok"><input class="cart_qty_modal_ok"  type="button" value="Сохранить" /></div>
        </div>
    </div>
    <div class="cart_price">
        <div class="item_price">{{ cart_item.get_str_total }} <i>руб.</i></div>
    </div>
    <div class="cart_ctrls">
        <div class="cart_del"><input type="button" value="Удалить" class="delete_cart_id" name="{{ cart_item.id }}" /></div>
        <div class="cart_leave"><input type="button" class="later_cart_id" name="{{ cart_item.id }}" value="Оставить на потом" /></div>
    </div>

    {% if cart_item.is_deleted %}<div class="cart_item_deleted"><div class="btn2"><div class="btn2_in"><a class="cart_back" name="{{ cart_item.id }}" href="#">Вернуть</a></div></div></div>{% endif %}
</div>