{% extends "base.html" %}

{% load thumbnail siteblocks_extras pages_extras %}

{% block title %}
    Корзина &mdash;
{% endblock %}

{% block main %}
    <div class="cart">
    {% if is_empty %}
        <h1>Ваша корзина пока пуста</h1>
    {% else %}
        <h2>Ваш заказ</h2>

        {% for cart_item in cart_products %}
            {% include 'orders/cart_item.html' %}
        {% endfor %}

        <div class="cart_total">
            <span class="total_sum">Общая стоимость</span>
            <span class="cart_price_val">{{ cart_str_total }}</span> <i class="r">руб.</i>
            <input type="hidden" class="id_cart" value="{{ cart_id }}">
            <div class="cart_submit"><a href="/show_order_form/"><input {% if cart_str_total == '0' %}disabled="true"{% endif %}  class="btn2 cart_submit_btn" type="submit" value="Оформить заказ" /></a></div>
        </div>
    {% endif %}
    </div><!--/cart-->
{% endblock %}