<p><h2>ЧитаМаг - Информация по заказу №{{ order.id }}</h2>
<p>Дата заказа: {{ order.create_date }}</p>
<p>Заказчик: {{ order.first_name }} {{ order.last_name }}</p>
<p>E-mail: {{ order.email }}</p>
<p>Телефон: {{ order.phone }}</p>
<p>Тип доставки: {% if order.order_carting == 'carting' %}Доставка{% endif %}{% if order.order_carting == 'selfcarting' %}Самовывоз{% endif %}</p>
{% if order.order_carting.value == 'carting' %}
<hr>
    <p>Адрес: {{ order.address }}</p>
    <p>Примечание: {{ order.note }}</p>
{% endif %}
<hr>
<p>Сумма заказа: {{ order.get_str_total }} руб.</p>
<hr>
<h3>Товары:</h3>
<ul>
{% for product in products %}
    <li>{{ product.product.title }}, в количестве {{ product.count }} шт, на сумму {{ product.get_str_total }} руб.
        {% if product.get_services %}
            <br/>Включены следующие услуги:
            <ul>
                {% for service in product.get_services %}
                    <li>{{ service.service.description }}, в количестве {{ service.count }} шт, на сумму {{ service.get_str_total }} руб.
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
</ul>
</p>