{% extends "base.html" %}

{% load thumbnail siteblocks_extras pages_extras %}

{% block title %}
    Оформление заказа &mdash;
{% endblock %}

{% block main %}
    <div class="page_h">
        <h1>Заказ оформлен</h1>
    </div>{% comment %}
    {{ order_form.errors }}{% endcomment %}
    <form class="order_form" method="post" action="/order_form_step2/">
        <div style="display: none;">{{ order_form.profile }}
            {{ order_form.profile.errors }}
            {{ order_form.order_carting }}
            {{ order_form.order_carting.errors }}
            {{ order_form.total_price }}
            {{ order_form.total_price.errors }}
            {{ order_form.order_status }}
            {{ order_form.order_status.errors }}</div>
        <div class="order_form_h">
            <span class="order_form_h_num">1</span>
            <h2>Контактные данные</h2>
            {% if not user.is_authenticated %}<span class="ifregistred">Уже зарегистрированы? <a href="#auth_form" class="fancybox">Войти</a></span>{% endif %}
        </div>

        <div class="input input3">
            <label>Имя <span class="label_note">Имя получателя</span></label>
            {{ order_form.first_name }}
            {{ order_form.first_name.errors }}
        </div>
        <div class="input input3">
            <label>Фамилия <span class="label_note">Фамилия получателя</span></label>
            {{ order_form.last_name }}
            {{ order_form.last_name.errors }}
        </div>
        <div class="input input3">
            <label>E-mail <span class="label_note">Для входа на сайт</span></label>
            {{ order_form.email }}
            {{ order_form.email.errors }}
        </div>
        <div class="input input3">
            <label>Телефон <span class="label_note">Для подтверждения</span></label>
            {{ order_form.phone }}
            {{ order_form.phone.errors }}
        </div>

        <div class="order_form_h">
            <span class="order_form_h_num">2</span>
            <h2>Получение товара</h2>
        </div>


        <ul class="order_menu">
            <li {% if order_form.order_carting.value == 'carting' %}class="curr"{% endif %}><a href="#" class="carting">Доставка</a></li>
            <li {% if order_form.order_carting.value == 'selfcarting' %}class="curr"{% endif %}><a href="#" class="selfcarting">Самовывоз</a></li>
        </ul>

    <div class="contact_info carting" {% if order_form.order_carting.value != 'carting' %}style="display: none;"{% endif %}>
        <div class="input input2">
            <label>Адрес <span class="label_note">Улица, дом, квартира</span></label>
            {{ order_form.address }}
            {{ order_form.address.errors }}
            {{ order_form.non_field_errors  }}
        </div>

        <div class="textarea textarea1">
            <label>Примечание <span class="label_note">Номер домофона или&nbsp;любая другая информация</span></label>
            {{ order_form.note }}
            {{ order_form.note.errors }}
        </div>
    </div>
    <div class="contact_info selfcarting" {% if order_form.order_carting.value != 'selfcarting' %}style="display: none;"{% endif %}>
        {{ selfcarting_text.value|safe }}
    </div>

    <div class="order_form_h">
        <span class="order_form_h_num">3</span>
        <h2>Оплата заказа</h2>
        <span class="ifregistred">Общая стоимость заказа: <span>{{ cart_total }}</span> руб. </span>
    </div>

    <div class="order_type">
        <div class="order_type_text">
            <h3>Наличный расчет</h3>
            <p>Оплата наличными при получении товара. Или в офисе, если товар поставляется по предоплате.</p>
        </div>
        <input class="btn2 order_submit" type="submit" value="Отправить заказ" />
    </div>

    {% comment %}<div class="order_type">
        <div class="order_type_text">
            <h3>Оплата картой <span>или электронными валютами</span></h3>
            <p>Оплата с помощью банковского перевода (систем онлайн-банкинга) для физических лиц. Оплата картой в магазине или курьеру не предусматривается!</p>
        </div>
        <input class="btn2 order_submit" type="submit" value="Оплатить заказ" />
    </div>{% endcomment %}
    </form>
{% endblock %}