{% extends "base.html" %}

{% load thumbnail siteblocks_extras pages_extras %}

{% block title %}
    Оформление заказа &mdash;
{% endblock %}

{% block main %}
    <div class="cabinet">

    <h1>Заказ оформлен</h1>


    <div class="personal">

        <div class="text">
            <h2>Ваш заказ успешно оформлен под номером {{ order.id }}</h2>
            <p>Вся информация о заказе выслана на контактный e-mail. Наш менеджер скоро с Вами свяжется чтобы уточнить время доставки.</p>
        </div><!--/text-->

        <div class="final_info">
            <p><strong>Получатель</strong>: {{ order.first_name }} {{ order.last_name }}</p>
            <p><strong>Телефон</strong>: {{ order.phone }}</p>
            {% if order.order_carting == 'selfcarting' %}
                <p><strong>Тип доставки</strong>: Самовывоз</p>
            {% else %}
                <p><strong>Адрес доставки</strong>: {{ order.addresss }}</p>
            {% endif %}
        </div><!--/final_info-->

        <div class="final_contents">
            {% for order_product in order.get_products %}
                <div class="final_item">
                    <div class="final_item_name">{{ order_product.product.title }} х {{ order_product.count }} на сумму {{ order_product.get_str_total }} руб.</div>
                </div>
            {% endfor %}
            <div class="final_sum">Общая сумма заказа {{ order.total_price }} руб.</div>
        </div><!--/final_contents-->

        {% if reg_form %}
            <div class="text">
                <p>Вы занесли уже большую часть информации, чтобы участвовать в наших акциях и специальных предложения. Мы советуем Вам зарегистрироваться на нашем сайте.</p>
            </div>
            <form class="final_reg" method="post" action="/registration_form/">{% csrf_token %}
                <div style="display: none;">
                    {{ reg_form.email }}
                    {{ reg_form.username.errors }}
                    {{ reg_form.email.errors }}
                </div>
                <div class="personal_input">
                    <label>Осталось только придумать пароль:</label>
                    {{ reg_form.password1 }}
                    {{ reg_form.password1.errors }}
                </div>
                <div class="personal_input">
                    <label>Повторение пароля:</label>
                    {{ reg_form.password2 }}
                    {{ reg_form.password2.errors }}
                </div>
                <input type="hidden" name="order_id" value="{{ order.id }}">
                <div><input class=" reg_submit" type="submit" value="Зарегистрироваться" /></div>
            </form>
        {% endif %}
    </div><!--/order_final-->
    <script type="text/javascript">
        setTimeout( function(){
            $('.modal_bg').fadeOut(2000);
        },5000);
    </script>
    </div>

{% endblock %}

{% block modal_bg %}
    <div class="modal_bg">
    	<div class="modal_thanks">
    		<div class="modal_thanks_in">
    			<h1>Спасибо</h1>
    			<p>за покупку</p>
    		</div>
    	</div>
    </div><!--/modal_bg-->
{% endblock %}