{% extends "base.html" %}
{% load i18n pages_extras products_extras %}

{% block title %}{% trans "Password reset" %} &mdash; {% endblock %}

{% block main %}
    <div class="right col">
    <div class="page_h">
        <h1>{% trans "Password reset" %}</h1>
    </div>

    <div class="order_final">
        <div class="text">
            <p>Введите адрес, указанный при регистрации, и мы вышлем вам письмо с дальнейшими инструкциями по восстановлению пароля.</p>
        </div><!--/text-->
        <form class="final_reg" method="post" action="{% url auth_password_reset %}">{% csrf_token %}
            <div class="input input3">
                <label>E-mail</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div><input type="submit" class="btn2 reg_submit" value="Отправить" /></div>
        </form>
    </div>
    </div>

{% endblock %}