{% extends "base.html" %}
{% load i18n pages_extras products_extras %}

{% block title %}{% trans "Password reset complete" %} &mdash; {% endblock %}

{% block main %}
    <div class="cabinet">
    <div class="page_h">
        <h1>{% trans "Password reset complete" %}</h1>
    </div>

    <div class="personal">

        <div class="text">
            <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
            {# <p><a href="{% url auth_login %}">{% trans 'Log in' %}</a></p> #}
            <p><a class="auth_lnk" href="#">{% trans 'Log in' %}</a></p>
        </div><!--/text-->
    </div>
    </div>
{% endblock %}