{% extends "base.html" %}
{% load i18n pages_extras products_extras %}

{% block title %}{% trans 'Password change' %}  &mdash; {% endblock %}

{% block main %}

    <div class="cabinet">
        <div class="page_h">
            <h1>{% trans 'Password change' %}</h1>
        </div>
        <div class="personal">


            <div class="text">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</div>

            <form class="final_reg" action="{% url auth_password_change %}" method="post">{% csrf_token %}

                <fieldset class="module aligned wide">

                <div class="personal_input">
                    <label for="id_old_password" class="required">{% trans 'Old password' %}:</label>{{ form.old_password }}
                    {{ form.old_password.errors }}
                </div>

                <div class="personal_input">
                    <label for="id_new_password1" class="required">{% trans 'New password' %}:</label>{{ form.new_password1 }}
                    {{ form.new_password1.errors }}
                </div>

                <div class="personal_input">
                    <label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label>{{ form.new_password2 }}
                    {{ form.new_password2.errors }}
                </div>

                </fieldset>

                <div class="submit-row">
                    <div class="adr_add_submit"><div class="btn3"><div class="btn3_in"><input type="submit" class="btn2 reg_submit" value="{% trans 'Change my password' %}"/></div></div></div>
                </div>

                <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
            </form>

        </div>
    </div>

{% endblock %}
