{% extends "base.html" %}
{% load i18n pages_extras products_extras %}

{% block title %}{% trans "Password reset successful" %} &mdash; {% endblock %}

{% block main %}
    <div class="cabinet">
    {% if validlink %}
        <div class="page_h">
            <h1>{% trans 'Enter new password' %}</h1>
        </div>

        <div class="personal">

            <div class="text">
                <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                <form class="final_reg" action="" method="post">{% csrf_token %}
                    <div class="personal_input">
                        <label>{% trans 'New password:' %}</label>
                        {{ form.new_password1 }}
                        {{ form.new_password1.errors }}
                    </div>
                    <div class="personal_input">
                        <label>{% trans 'Confirm password:' %}</label>
                        {{ form.new_password2 }}
                        {{ form.new_password2.errors }}
                    </div>
                    <div><input class=" reg_submit" type="submit" value="Изменить" /></div>
                </form>
            </div>
        </div><!--/text-->
    {% else %}
        <div class="page_h">
            <h1>{% trans 'Password reset unsuccessful' %}</h1>
        </div>

        <div class="personal">

            <div class="text">
                <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
            </div>
        </div><!--/text-->
    {% endif %}
    </div>

{% endblock %}