{% extends "base.html" %}
{% load i18n pages_extras products_extras %}

{% block title %}{% trans "Password reset" %} &mdash; {% endblock %}

{% block main %}
    <div class="cabinet">

    <h1>{% trans "Password reset" %}</h1>


    <div class="personal">

        <div class="text">
            <p>Введите адрес, указанный при регистрации, и мы вышлем вам письмо с дальнейшими инструкциями по восстановлению пароля.</p>
        </div><!--/text-->
        <form class="final_reg" method="post" action="{% url auth_password_reset %}">{% csrf_token %}
            <div class="personal_input">
                <label>E-mail</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="adr_add_submit"><div class="btn3"><div class="btn3_in"><input type="submit" class="reg_submit" value="Отправить" /></div></div></div>
        </form>
    </div>
    </div>

{% endblock %}