{% extends "base.html" %}

{% load thumbnail siteblocks_extras products_extras pages_extras %}

{% block title %}
    Редактировать информацию &mdash;
{% endblock %}

{% block main %}
    <div class="cabinet">
        {{ errors }}
        <div class="page_h">
             <h1>Редактировать информацию</h1>
         </div>

        <div class="personal">

            <form class="final_reg" method="post" action="/edt_profile_info/">{% csrf_token %}
                <div class="personal_input">
                    <label>Имя</label>
                    {{ profile_form.name }}
                    {{ profile_form.name.errors }}
                </div>
                <div class="personal_input">
                    <label>Фамилия</label>
                    {{ profile_form.last_name }}
                    {{ profile_form.last_name.errors }}
                </div>
                <div class="personal_input">
                    <label>E-mail</label>
                    {{ profile_form.user__email }}
                    {{ profile_form.user__email.errors }}
                </div>
                <div class="personal_input">
                    <label>Телефон</label>
                    {{ profile_form.phone }}
                    {{ profile_form.phone.errors }}
                </div>
                <div style="display: none;">{{ profile_form.errors }}<br>{{ profile_form.id }}{{ profile_form.id.errors }}</div>
                <div><input class=" reg_submit" type="submit" value="Сохранить" /></div>
            </form>
        </div>
    </div>

{% endblock %}