{% extends "base.html" %}

{% load thumbnail siteblocks_extras pages_extras products_extras %}

{% block title %}
        Регистрация &mdash;
{% endblock %}

{% block main %}
    <div class="cabinet">
        <h1>Личный кабинет</h1>
        <div class="pagemenu cabinet_menu">
            <ul>
                <li><a href="#">История заказов</a><div></div></li>
                <li><a href="#">Общие сведения</a><div></div></li>
                <li class="curr"><a href="#">Адреса доставки</a><div></div></li>
                <li><a href="#">Бонусный счет</a><div></div></li>
            </ul>
        </div><!--/cabinet_menu-->

        <div class="addresses">
            <div class="address">
                <address><span>Наб. реки Карповки, 43</span>, Санкт-Петербург, 410930</address>
                <div class="address_shade"></div>
                <div class="address_del"><a href="#">Удалить</a></div>
            </div>

            <div class="address">
                <address><span>Наб. реки Карповки, 43</span>, Санкт-Петербург, 410930</address>
                <div class="address_shade"></div>
                <div class="address_del"><a href="#">Удалить</a></div>
            </div>

            <div class="adr_add"><input class="add_adr_btn" type="button" value="Добавить адрес" /></div>
        </div><!--/addresses-->

    </div>
{% endblock %}

{% block modal_bg %}
    <div class="modal_bg" id="reg_modal_bg">
    	<div class="modal_add_adr">
    		<h1>Регистрация</h1>
    		<form method="post" action="/registration_form/">{% csrf_token %}
    			<div class="add_adr_input">
    				<label>Электронная почта</label>
                    {{ reg_form.email }}
                    {{ reg_form.username.errors }}
                    {{ reg_form.email.errors }}
    			</div>
    			<div class="add_adr_input">
    				<label>Пароль</label>
                    {{ reg_form.password1 }}
                    {{ reg_form.password1.errors }}
    			</div>
    			<div class="add_adr_input">
    				<label>Пароль еще раз</label>
                    {{ reg_form.password2 }}
                    {{ reg_form.password2.errors }}
                    {{ reg_form.non_field_errors }}
    			</div>
    			<div class="adr_add_submit"><div class="btn3"><div class="btn3_in"><input type="submit" value="Зарегистрироваться" /></div></div></div>
    		</form>
    		<div class="add_adr_modal_shade"></div>
    	</div>
    </div><!--/modal_bg-->
{% endblock %}