{% extends "base.html" %}

{% load thumbnail siteblocks_extras products_extras pages_extras pytils_numeral pagination_tags %}

{% if page.title %}
    {% block title %}
        Личный кабинет &mdash;
    {% endblock %}
{% endif %}

{% block main %}
    {% block_catalog_menu '' %}

    <div class="right col">
        <div class="cabinet">
            <h1>Личный кабинет <span class="ifregistred"><a class="dot" href="/password/change/">сменить пароль</a></span></h1>

            <div class="cabinet_info">
                <div class="cabinet_info_name">Имя и фамилия:</div>
                <div class="cabinet_info_val">
                    {{ user.profile.name }} {{ user.profile.last_name }}
                    {% if user.profile.name == '' and  user.profile.last_name == '' %}Не указаны{% endif %}
                </div>
            </div>
            <div class="cabinet_info">
                <div class="cabinet_info_name">Электронная почта:</div>
                <div class="cabinet_info_val">{{ user.email }}</div>
            </div>
            <div class="cabinet_info">
                <div class="cabinet_info_name">Телефон:</div>
                <div class="cabinet_info_val">{{ user.profile.phone|default:"Не указан" }}</div>
            </div>
            <div class="cabinet_info_edit col"><a href="/cabinet/edit_info_form/"></a></div>

            <div class="history load_block">
                {% if orders %}
                    <h2>История ваших заказов:</h2>
                {% endif %}
                <input type="hidden" id="loaded_ids" autocomplete="off" value="{{ next_id_loaded_items }}">
                <input type="hidden" id="a_name" autocomplete="off" value="orders">
                <input type="hidden" id="m_name" autocomplete="off" value="Order">
                <table>
                    {% for order in orders %}
                        <tr>
                            <td class="history_num_col"><div class="history_num">{{ forloop.counter }}</div></td>
                            <td class="history_items_col">
                                {% for product in order.get_products %}
                                    <div class="history_item">
                                        {% if product.product %}
                                            <div>{{ product.product.category.title_singular|title }}</div>
                                            <div><strong>{{ product.product.title }}</strong></div>
                                        {% else %}
                                            <div><strong>{{ product.product_description }}</strong></div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </td>
                            <td class="history_status_col">
                                {% if order.order_status == 'processed' %}
                                    <div class="history_status history_status_ok">Обрабатывается</div>
                                {% endif %}{% if order.order_status == 'posted' %}
                                    <div class="history_status history_status_ok">Отправлен</div>
                                {% endif %}{% if order.order_status == 'delivered' %}
                                    <div class="history_status history_status_ok">Доставлен</div>
                                {% endif %}{% if order.order_status == 'cancelled' %}
                                    <div class="history_status history_status_cancel">Отменен</div>
                                {% endif %}
                                <div>{{ order.create_date|date:"j E" }}</div>
                            </td>
                            <td class="history_price_col">
                                <em>Стоимость заказа</em> <span class="item_price">{{ order.total_price }} <i class="r">руб.</i></span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% if loaded_count %}
                    <div class="more">
                        <a href="#" class="load_items">Ещё {{ loaded_count }} заказ{{ loaded_count|choose_plural:",а,ов" }}</a>
                    </div>
                {% endif %}
            </div>
        </div><!--/cabinet-->
    </div><!--/right-->

{% endblock %}